<a href="https://colab.research.google.com/github/hwayoung306/AI/blob/main/20220414_py_05_Pandas_ipynb_%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 구글드라이브 연동

In [ ]:
# 구글드라이브 연동
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

# 구글 드라이브 파일 확인
!ls '/gdrive/My Drive/temp/'

# 반복되는 드라이브 경로 변수화
drive_path = '/gdrive/My Drive/temp/'

Mounted at /gdrive
 매수종목1.txt			        sample1.pdf
'2. 영화평점, 날짜별 영화평점 시각화'  'sample (1).xlsx'
 매수종목2.txt			        sample2.pdf
 auto-mpg.csv			        sample.docx
 bmi_500.csv			        sample_merge.pdf
 매수종목.csv			        sample.xlsx
'demo (1).docx'			        score.csv
 demo.docx			        test.db.db
 example.docx			        test.txt
 height_weight.txt		        Titanic배포용
 hello_world.xlsx		        titanic_test.csv
 HelloWorld.xlsx		        titanic_train.csv
'little-char (1).png'		        titanic.xls
 little-char.png		        Traffic_Accident_2017.csv
 population_number.csv		        train.csv
 ram_price.csv			        user_id_mean.csv
 ratings_small.txt		        wine.csv
'sample1 (1).pdf'		        남북한발전전력량.xlsx

# Pandas
데이터 핸들링
-> 표 데이터

## Pandas 기초
Pandas 모듈
- Series Class : 1차원
 - 인덱스(index) + 값(value)
 - 인덱스도 자료형이다
- DataFrame Class : 2차원
 - 표와 같은 형태
 - 제일 많이 다룸

In [ ]:
import pandas as pd

### Series

In [ ]:
# 1차원 데이터
# 생성 (세로모양)
# 내용에는 리스트, 딕셔너리, 튜플, set 다 사용 가능
# 단일한 데이터 타입으로 되어있음

s = pd.Series( [4, 7, -5, 3])
s

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
# 처음 만들때 인덱싱을 다른 것으로 넣고 싶을 때
s = pd.Series( [4, 7, -5, 3], index = ['a', 'b', 'c', 'd'])

# 나중에 인덱스만 수정하기 위해서
s.index = ['가','나','다','라']
s

가    4
나    7
다   -5
라    3
dtype: int64

In [ ]:
# 값(values), 인덱스(insex), 타입(dtype)
print( s.values )
print( s.index ) # 문자열은 object 형식으로 들어감
print( s.dtype )

[ 4  7 -5  3]
Index(['a', 'b', 'c', 'd'], dtype='object')
int64

#### Pandas 연습 01
각 도시의 2015년 인구 데이터를 시리즈로 만드시오.
```
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
```

In [ ]:
data = pd.Series([9904312,3448797,2890451,2466052], index=['서울','부산','인천','대구'])
data

서울    9904312
부산    3448797
인천    2890451
대구    2466052
dtype: int64

#### Series

In [ ]:
# Serise 이름 지정 (컬럼 명)
data.name = '인구' # 이 시리즈는 인구에 대한거야!
data.index.name = '도시' # 인덱스는 도시에 대한거야!
data

도시
서울    9904312
부산    3448797
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [ ]:
# Serise 연산 브로드케스팅 연산 모두에게 적용됨 (values에 연산이 됨)
data / 1000000

도시
서울    9.904312
부산    3.448797
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [ ]:
# 인덱스 똑같이 인덱싱 번호로 사용해도 됨
s1 = pd.Series( [4, 7, -5, 3])
s1[0]

4

In [ ]:
# 딕셔너리처럼 사용이 가능하다
data['서울'], data[0]

(9904312, 9904312)

In [ ]:
data[3], data['대구']

(2466052, 2466052)

In [ ]:
# 팬시인덱스 사용 가능 근데 잘 사용 안함 정확한 인덱싱 하기 위해 '서울','대구','부산' 이렇게 가져옴
# 팬시 인덱싱으로 서울, 대구, 부산만 가져오기!
data[ [0, 3, 1]]

서울    9904312
대구    2466052
부산    3448797
dtype: int64

In [ ]:
# 슬라이싱
# 숫자로하면 시작:끝+1
print(data[1:3])

# 인덱스 이름으로 하면 시작:끝
print(data['부산':'인천'])

부산    3448797
인천    2890451
dtype: int64
부산    3448797
인천    2890451
dtype: int64

In [ ]:
# Boolean 인덱싱
# 인구 250만 이상
print(data >= 2500000)
data[data >= 2500000]

서울     True
부산     True
인천     True
대구    False
dtype: bool

서울    9904312
부산    3448797
인천    2890451
dtype: int64

In [ ]:
# 인구 500만 이하
data[data <= 5000000]

부산    3448797
인천    2890451
대구    2466052
dtype: int64

In [ ]:
# 중복 조건
# 인구 250만 이상 500만 이하 도시
s1 = data[ data >= 2500000 ]
s1[ s1 <= 5000000 ]

# 또는
data[ (data >= 2500000) & (data <= 5000000 ) ]
# 또는
data[ data >= 2500000 ][ data <= 5000000 ]

부산    3448797
인천    2890451
dtype: int64

In [ ]:
# 딕셔너리 객체로 시리즈 생성 (2010년 인구)
data2 = {'서울': 9631482, '부산': 3393191, '인천': 2632035, '대전': 1490158}
s2 = pd.Series(data2)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
# 2015년도와 2010년도의 인구 증가율 계산
ds = data - s2
ds

대구         NaN
대전         NaN
부산     55606.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
3# 결과가 없는 것은 무시 (NaN)
ds[ds.notnull()]

부산     55606.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
# NaN인 내용만 나오게
ds [ ds.isnull() ]

대구   NaN
대전   NaN
dtype: float64

In [ ]:
# 증가율 구하기
rs = (data - s2) / s2 *100
rs[ rs.notnull() ]

부산    1.638752
서울    2.832690
인천    9.818107
dtype: float64

In [ ]:
# Series 데이터 갱신, 추가, 삭제
# 갱신
rs['부산'] = 1.6
rs['대구'] = 1.41

# 삭제
del rs['서울']
rs

### DataFrame

In [ ]:
# DataFrame 생성 / 시리즈의 이름은 컬럼명이 된다.
data = {"2015": [9904312, 3448737, 2890451, 2466052],
        "2010": [9631482, 3393191, 2632035, 2431774]}

df = pd.DataFrame(data)
display( df )

      2015     2010
0  9904312  9631482
1  3448737  3393191
2  2890451  2632035
3  2466052  2431774

In [ ]:
# DataFrame 인덱스 수정
df.index = ['서울','부산','인천','대구']
df

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [ ]:
# DataFrame 인덱스 지정하여 생성
data = [[9904312, 3448737, 2890451, 2466052],
        [9631482, 3393191, 2632035, 2431774]]
ind = ['2015', '2010']
col = ['서울','부산','인천','대구']
df2 = pd.DataFrame( data, index=ind, columns=col )
df2

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

In [ ]:
# 테이블 돌리기
df2.T

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

#### Pandas 연습 02
DataFrame을 이용하여 아래와 같은 결과를 구성하시오.

| |홍길동|	김사또|	임꺽정|
|---|---|---|---|
|키|	175.3|	180.2|	178.6|
|몸무게|	66.2|	78.9|	55.1|
|나이|	27.0|	49.0|	35.0|

In [ ]:
data = [[175.3, 180.2, 178.6],[66.2, 78.9, 55.1],[27.0, 49.0, 35.0]]
ind = ['키', '몸무게', '나이']
col = ['홍길동', '김사또', '임꺽정']
df3 = pd.DataFrame( data, index = ind, columns = col )
df3

       홍길동    김사또    임꺽정
키    175.3  180.2  178.6
몸무게   66.2   78.9   55.1
나이    27.0   49.0   35.0

#### DataFrame

In [ ]:
 # 값 확인
 # 인덱스 확인
 # 컬럼 확인

df3.values
df3.index
df3.columns

Index(['홍길동', '김사또', '임꺽정'], dtype='object')

In [ ]:
# DataFrame 열 / 기본은 컬럼값으로 불러오지만!
print( df['2015'])
print( df[['2015', '2010']] ) # 순서유지
print( df[['2010', '2015']])

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64
       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774
       2010     2015
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [ ]:
# "2005" 라는 컬럼명으로 2005년 인구수 대입
data_2005 =  [9762546, 3512547, 2517680, 2456016]
df['2005'] = data_2005
df

       2015     2010     2005
서울  9904312  9631482  9762546
부산  3448737  3393191  3512547
인천  2890451  2632035  2517680
대구  2466052  2431774  2456016

In [ ]:
# 행 인덱스 (행의 인덱스 번호로도 가능하고, index 명으로도 가능하다)
display( df[:1])

print()

display( df['서울':'인천'])

       2015     2010     2005
서울  9904312  9631482  9762546

       2015     2010     2005
서울  9904312  9631482  9762546
부산  3448737  3393191  3512547
인천  2890451  2632035  2517680

In [ ]:
# Boolean 인덱스 (조건 검색)
df[df['2010'] >= 2500000]

df[df['2015'] >= 2500000]['2010']

서울    9631482
부산    3393191
인천    2632035
Name: 2010, dtype: int64

#### loc, iloc 인덱서

In [ ]:
# loc[] - 실제 인덱스를 사용하여 행을 가지고 올 때 사용
# df.loc[행, 열]
df.loc['서울':'부산', '2015':'2010']

       2015     2010
서울  9904312  9631482
부산  3448737  3393191

In [ ]:
# iloc[] - numpy의 array인덱싱 방식으로 행을 가지고 올 때 사용
print(df)
print()

print("3번 인덱스인 대구 내용이 출력됨")
df.iloc[3]

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

3번 인덱스인 대구 내용이 출력됨

2015    2466052
2010    2431774
Name: 대구, dtype: int64

In [ ]:
# iloc[] - numpy의 array인덱싱 방식으로 행을 가지고 올 때 사용
print(df)
print()

print("서울, 부산의 2015, 2010데이터")
df.iloc[:2, :2]

       2015     2010     2005
서울  9904312  9631482  9762546
부산  3448737  3393191  3512547
인천  2890451  2632035  2517680
대구  2466052  2431774  2456016

서울, 부산의 2015, 2010데이터

       2015     2010
서울  9904312  9631482
부산  3448737  3393191

#### csv 파일-1

population_number.csv

In [ ]:
df = pd.read_csv(drive_path + 'population_number.csv',index_col= '도시', encoding='euc-kr')
df

     지역     2015       2010       2005     2000
도시
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437
인천  수도권  2890451  2632035.0        NaN  2466338
대구  경상권  2466052  2431774.0  2456016.0  2473990

In [ ]:
# count() : 데이터의 갯수 / 열의 데이터
df.count()

지역      4
2015    4
2010    3
2005    2
2000    4
dtype: int64

In [ ]:
# value_counts 함수
# - 값이 숫자, 문자열, 카테고리 값인 경우에 각각의 값이 나온 횟수를 셀 수 있다.
import numpy as np

# 0~5까지 수가 들어있는 ndarray 만들어서 각 값들이 몇개씩 들어잇는지
s = pd.Series( np.random.randint(6, size = 100))
s.value_counts()

5    22
0    18
2    18
4    16
3    13
1    13
dtype: int64

In [ ]:
# head() tail() 기본적 5개 / ()안에 수를 넣으면 그 수만큼 출력
print(s.head(10))
print(s.tail())

0    3
1    5
2    5
3    3
4    0
5    4
6    3
7    5
8    5
9    2
dtype: int64
95    0
96    3
97    1
98    4
99    0
dtype: int64

In [ ]:
# 정렬
# sort_index 함수 : 인덱스 값을 기준으로 정렬한다.
# sort_values 함수 : 데이터 값을 기준으로 정렬한다.

df['2010'].sort_values()

도시
대구    2431774.0
인천    2632035.0
서울    9631482.0
부산          NaN
Name: 2010, dtype: float64

In [ ]:
# DataFrame을 2010년 인구수 기준으로 정렬 (높은 것 부터 정렬 / 기본값 ascending=True로 낮은것부터 정렬됨)
df.sort_values(by = '2010', ascending=False)

     지역     2015       2010       2005     2000
도시
서울  수도권  9904312  9631482.0  9762546.0  9853972
인천  수도권  2890451  2632035.0        NaN  2466338
대구  경상권  2466052  2431774.0  2456016.0  2473990
부산  경상권  3448737        NaN        NaN  3655437

In [ ]:
# DataFrame을 지역, 2010년 인구수 기준으로 정렬
# 정렬한는 기준을 2개을 넣으면 먼저넣은 것으로 정렬하고, 다음 내용을 정렬한다.
df.sort_values(by = ['도시', '2010'], ascending=False)

     지역     2015       2010       2005     2000
도시
인천  수도권  2890451  2632035.0        NaN  2466338
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437
대구  경상권  2466052  2431774.0  2456016.0  2473990

#### csv 파일-2

score.csv

In [ ]:
# 학급별 총계
df2 = pd.read_csv(drive_path + 'score.csv', index_col ='과목', encoding='euc-kr ')
df2

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [ ]:
# 학급별 총계
df2.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [ ]:
# 학급별 순위
df2.sum().sort_values(ascending = False)

2반    388
3반    295
1반    271
4반    243
dtype: int64

In [ ]:
# 과목별 총계 + 순위
df2.sum(axis=1).sort_values(ascending = False)

과목
사회    298
영어    282
국어    253
수학    201
과학    163
dtype: int64

In [ ]:
# 과목별 합계를 DataFrame에 추가 (열이 기준일 때 방법)
df2['합계'] = df2.sum(axis=1)
df2

    1반  2반  3반  4반     합계
과목
수학  45  44  73  39  201.0
영어  76  92  45  69  282.0
국어  47  92  45  69  253.0
사회  92  81  85  40  298.0
과학  11  79  47  26  163.0

In [ ]:
# 삭제하기 기본 축은 0(행), 1(열)
df2.drop('합계', axis=1) # 원본에는 적용되지 않음, 삭제 X

# 원본에 적용하는 방법 2가지
df2 = df2.drop('합계', axis=1) # 원본에 재 대입
df2.drop('합계', axis=1, inplace =True) # 원본을 바꿔라! 

df2

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [ ]:
# 내용 중 작은 값  (행 열)
print(df2.min()) # 행기준 -> 행을 이동하면서 더한다
print() 
print(df2.min(axis=1)) # 열기준 -> 열을 이동하면서 더한다

1반     11.0
2반     44.0
3반     45.0
4반     26.0
합계    163.0
dtype: float64

과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64

In [ ]:
# 내용 중 큰 값  (행 열)
print(df2.max()) # 행기준 -> 행을 이동하면서 더한다
print() 
print(df2.max(axis=1)) # 열기준 -> 열을 이동하면서 더한다

1반     92.0
2반     92.0
3반     85.0
4반     69.0
합계    298.0
dtype: float64

과목
수학    201.0
영어    282.0
국어    253.0
사회    298.0
과학    163.0
dtype: float64

In [ ]:
# 내용 중 작은 값  (행 열)
print(df2.mean()) # 행기준 -> 행을 이동하면서 더한다
print() 
print(df2.mean(axis=1)) # 열기준 -> 열을 이동하면서 더한다

1반     54.2
2반     77.6
3반     59.0
4반     48.6
합계    239.4
dtype: float64

과목
수학     80.4
영어    112.8
국어    101.2
사회    119.2
과학     65.2
dtype: float64

#### Pandas 연습 03-1

과목별 평균을 계산하여 column 추가하기
```

        1반  2반	3반	4반	합계	평균
과목						
수학	45	44	73	39	201	50.25
영어	76	92	45	69	282	70.50
국어	47	92	45	69	253	63.25
사회	92	81	85	40	298	74.50
과학	11	79	47	26	163	40.75
```

In [ ]:
df2 = pd.read_csv(drive_path + 'score.csv', index_col ='과목', encoding='euc-kr ')
df2

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [ ]:
# 열에다가 추가하는 방법
df2['합계'] = df2.sum(axis=1)
df2['평균'] = df2.loc[:, :'4반'].mean(axis=1)

df2

    1반  2반  3반  4반   합계     평균
과목
수학  45  44  73  39  201  50.25
영어  76  92  45  69  282  70.50
국어  47  92  45  69  253  63.25
사회  92  81  85  40  298  74.50
과학  11  79  47  26  163  40.75

#### Pandas 연습 03-2

반평균을 계산 하여 row 추가 하기
```
	      1반	2반	 3반 	4반 	합계	평균
과목						
수학	45.0	44.0	73.0	39.0	201.0	50.25
영어	76.0	92.0	45.0	69.0	282.0	70.50
국어	47.0	92.0	45.0	69.0	253.0	63.25
사회	92.0	81.0	85.0	40.0	298.0	74.50
과학	11.0	79.0	47.0	26.0	163.0	40.75
반평균  54.2	77.6	59.0	48.6	239.4	59.85
```

In [ ]:
# row에 추가하는 방법
df2.loc['반평균'] = df2.loc[:, :].mean(axis=0)
df2

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6  239.4  59.85

#### Pandas 연습 03-3

반 평균, 합계, 평균을 제외한 데이터 중 과목별 가장 큰 값, 작은 값을 구하시오.

```
과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64
```
```
과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64
```

In [ ]:
max_arr = df2.loc[:'과학', :'4반'].max(axis=1)
max_arr

과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64

In [ ]:
min_arr = df2.loc[:'과학', :'4반'].min(axis=1)
min_arr

과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64

#### Pandas 연습 03-4

과목별 가장 큰 값과 작은 값의 차를 구하시오.
```
과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64
```

In [ ]:
diff_arr = df2.loc[:'과학', :'4반'].max(axis=1) - df2.loc[:'과학', :'4반'].min(axis=1)
diff_arr

과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64

#### apply 변환

행이나 열 단위로 더 복잡한 처리를 하고 싶을 때 사용
```
DataFrame.apply( func, axis = 0)
```

In [ ]:
def max_min(x) :
    # print(type(x))
    # print(x)
    return x.max() - x.min()

df2.loc[:'과학', :'4반'].apply(max_min, axis = 1)

1반    45.0
2반    44.0
3반    73.0
4반    39.0
Name: 수학, dtype: float64
1반    76.0
2반    92.0
3반    45.0
4반    69.0
Name: 영어, dtype: float64
1반    47.0
2반    92.0
3반    45.0
4반    69.0
Name: 국어, dtype: float64
1반    92.0
2반    81.0
3반    85.0
4반    40.0
Name: 사회, dtype: float64
1반    11.0
2반    79.0
3반    47.0
4반    26.0
Name: 과학, dtype: float64

과목
수학    None
영어    None
국어    None
사회    None
과학    None
dtype: object

In [ ]:
df2.loc[:'과학',:'4반'].apply(lambda x : x.max() - x.min(), axis=1)

과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64

In [ ]:
df2

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6  239.4  59.85

In [ ]:
# apply 응용
data_dic = {"A":[1,3,3,4,4], "B":[1,2,2,3,3], "C":[1,2,4,4,5]}

df = pd.DataFrame(data_dic)
df

   A  B  C
0  1  1  1
1  3  2  2
2  3  2  4
3  4  3  4
4  4  3  5

In [ ]:
# 몇번 쓰였는지 보기
df3 = df.apply( pd.value_counts )

In [ ]:
df4 = df3.fillna(value=0)
df4

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

#### 카테고리

In [ ]:
# 카테고리는 그룹화를 시키는 것!
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 100]
bins = [0, 15, 25, 35, 60, 99] # 값을 나눌 범주
labels = ["미성년자", "청년", "중년", "장년", "노년"] # 범주의 이름
cuts = pd.cut(x=ages, bins=bins, labels=labels)
cuts

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '노년', '청년', '장년', '중년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [ ]:
cuts.categories

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')

In [ ]:
age_df = pd.DataFrame(ages, columns=['age'])

# 카테고리 추가
age_df['age_cat'] = cuts
age_df

    age age_cat
0     0     NaN
1     2    미성년자
2    10    미성년자
3    21      청년
4    23      청년
5    37      장년
6    31      중년
7    61      노년
8    20      청년
9    41      장년
10   32      중년
11  100     NaN

In [ ]:
# 카테고리별 나이 개수
age_df['age_cat'].value_counts()

청년      3
미성년자    2
중년      2
장년      2
노년      1
Name: age_cat, dtype: int64

#### Pandas 연습 04-1

1. 타이타닉호 승객 데이터(train.csv)를 데이터프레임으로 읽어 온다.

2. 타이타닉호 승객 데이터의 데이터 개수를 각 열마다 구해본다.

```
Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64
```

In [ ]:
df = pd.read_csv(drive_path + 'train.csv', index_col='PassengerId')
df

In [ ]:
df.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [ ]:
df.info()

In [ ]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

#### Pandas 연습 04-2

1. 타이타닉호 승객 중 성별(Sex) 인원수, 나이별(Age) 인원수, 선실별(Pclass) 인원수, 사망/생존(Survived) 인원수를 구하라.

In [ ]:
print(df['Sex'].value_counts())
print()
print(df.Age.value_counts())
# print(df['Age'].value_counts())
print()
print(df['Pclass'].value_counts())
print()
print(df['Survived'].value_counts())

#### Pandas 연습 04-3

1. 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해  ‘미성년자‘, ‘청년‘, ‘중년‘, ‘장년‘, ‘노년’ 승객의 비율을 구하라.

(단, 그룹별 비율의 전체 합은 1이 되어야 한다.)
```
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
```

In [ ]:
# 생존자 그룹
data = df[df['Survived'] == 1]
data

In [ ]:
# 생존자 그룹 카테고리화
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
ages = data['Age']

train_cats = pd.cut(x=ages, bins=bins, labels=labels)
train_cats.value_counts().sort_index()

미성년자    49
청년      75
중년      83
장년      78
노년       5
Name: Age, dtype: int64

In [ ]:
# 비율
train_cats.value_counts()/train_cats.count()

중년      0.286207
장년      0.268966
청년      0.258621
미성년자    0.168966
노년      0.017241
Name: Age, dtype: float64

In [ ]:
# 사망자 그룹
data1 = df[df['Survived'] == 0]
data1

In [ ]:
# 사망자 그룹 카테고리화
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
ages = data1['Age']

train_cats1 = pd.cut(x=ages, bins=bins, labels=labels)
train_cats1.value_counts().sort_index()

미성년자     34
청년      143
중년      113
장년      117
노년       17
Name: Age, dtype: int64

In [ ]:
# 비율
train_cats1.value_counts()/train_cats1.count()

청년      0.337264
장년      0.275943
중년      0.266509
미성년자    0.080189
노년      0.040094
Name: Age, dtype: float64

In [ ]:
train_p_s = df[['Survived', 'Pclass','Sex']]
train_p_s

             Survived  Pclass     Sex
PassengerId
1                   0       3    male
2                   1       1  female
3                   1       3  female
4                   1       1  female
5                   0       3    male
...               ...     ...     ...
887                 0       2    male
888                 1       1  female
889                 0       3  female
890                 1       1    male
891                 0       3    male

[891 rows x 3 columns]

#### groupby

In [ ]:
df5 = pd.DataFrame({
    'key1':['A','A', 'B', 'B', 'A'],
    'key2':['one','two','one','two','one'],
    'data1': [1, 2, 3, 4, 5],
    'data2': [10, 20, 30, 40, 50]
})
df5

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [ ]:
g = df5[ ['key1', 'data2'] ].groupby('key1')
for k, v in g :
    print(k) # key값
    print(v) # value깂

A
  key1  data2
0    A     10
1    A     20
4    A     50
B
  key1  data2
2    B     30
3    B     40

In [ ]:
# 그룹별로 합을 구할 때
g.sum()

      data2
key1
A        80
B        70

In [ ]:
df5[ ['key1', 'data2'] ].groupby('key1').sum()

      data2
key1
A        80
B        70

In [ ]:
b = df5.groupby(['key1','key2'])
df5.groupby(['key1','key2']).sum()
for k, v in b :
    print(k) # key값
    print(v) # value깂

('A', 'one')
  key1 key2  data1  data2
0    A  one      1     10
4    A  one      5     50
('A', 'two')
  key1 key2  data1  data2
1    A  two      2     20
('B', 'one')
  key1 key2  data1  data2
2    B  one      3     30
('B', 'two')
  key1 key2  data1  data2
3    B  two      4     40

#### Pandas 연습 04-4

1. 선실(Pclass), 성별(Sex)로 생존자 수를 구하라.

In [ ]:
from pandas.core.groupby import groupby
train_p_s = df[['Survived', 'Pclass','Sex']]
train_p_s.groupby(['Pclass', 'Sex']).sum()

# 생존자가 1이고 사망자는 0이라서 생존 사망자 구분하지 않고 더하면 생존자 수가 됨

               Survived
Pclass Sex
1      female        91
       male          45
2      female        70
       male          17
3      female        72
       male          47

In [ ]:
# html을 가져오는 경우
df = pd.read_html(r'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
len(df)

df = df[0]
df.head(3)

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536

In [ ]:
close_times = pd.to_datetime(df['Closing DateClosing'])
close_times

0     2020-10-23
1     2020-10-16
2     2020-04-03
3     2020-02-14
4     2019-11-01
         ...
558   2001-07-27
559   2001-05-03
560   2001-02-02
561   2000-12-14
562   2000-10-13
Name: Closing DateClosing, Length: 563, dtype: datetime64[ns]

In [ ]:
# close_times.dt.year
# close_times.dt.year.value_counts()
close_times.dt.year.value_counts().sort_index()

2000      2
2001      4
2002     11
2003      3
2004      4
2007      3
2008     25
2009    140
2010    157
2011     92
2012     51
2013     24
2014     18
2015      8
2016      5
2017      8
2019      4
2020      4
Name: Closing DateClosing, dtype: int64

## Pandas 요약

### 데이터프레임(Dataframe)과 시리즈(Series)

In [ ]:
# 시리즈와 데이터프레임 두 가지가 기본이다
# 자동으로 인덱스가 만들어진다

import numpy as np
import pandas as pd

In [ ]:
dic = {'city': ['서울', '부산', '대전', '대구', '광주'],
        'year': [2017, 2017, 2018, 2018, 2018],
        'temp': [18, 20, 19, 21, 20]}

df =pd.DataFrame(dic)
df

  city  year  temp
0   서울  2017    18
1   부산  2017    20
2   대전  2018    19
3   대구  2018    21
4   광주  2018    20

In [ ]:
#'year', 'city', 'temp'
df[['year', 'city', 'temp']]

   year city  temp
0  2017   서울    18
1  2017   부산    20
2  2018   대전    19
3  2018   대구    21
4  2018   광주    20

In [ ]:
# index -> 'a','b','c','d','e'
index = ['a','b','c','d','e']
df.index = index
df

  city  year  temp
a   서울  2017    18
b   부산  2017    20
c   대전  2018    19
d   대구  2018    21
e   광주  2018    20

In [ ]:
# columns -> '도시','연도','날씨'
df.columns = ['도시','연도','날씨']
df

   도시    연도  날씨
a  서울  2017  18
b  부산  2017  20
c  대전  2018  19
d  대구  2018  21
e  광주  2018  20

In [ ]:
# index -> '도시'
df.set_index('도시')

      연도  날씨
도시
서울  2017  18
부산  2017  20
대전  2018  19
대구  2018  21
광주  2018  20

In [ ]:
df['연도']
df.연도

a    2017
b    2017
c    2018
d    2018
e    2018
Name: 연도, dtype: int64

### 람다 함수

In [ ]:
f = lambda x: x.max() - x.min()

df = pd.DataFrame(np.arange(12).reshape(4, 3), 
                  columns=['A', 'B', 'C'], index=['a', 'b', 'c', 'd'])
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [ ]:
df.apply(f, axis=1)

a    2
b    2
c    2
d    2
dtype: int64

### Series

In [ ]:
# 파이썬 기본 타입인  딕셔너리로부터 시리즈를 만들 수 있다
dic = {'서울':800, '부산':150, '대구': 100}
dic

{'대구': 100, '부산': 150, '서울': 800}

## 퀴즈

In [ ]:
df = pd.read_csv(drive_path + 'data_studentlist_en.csv')
df

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16      Andrew Daley      M   21      1       N         A   169.2    62.2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       17 non-null     object
 1   gender     17 non-null     object
 2   age        17 non-null     int64
 3   grade      17 non-null     int64
 4   absence    17 non-null     object
 5   bloodtype  17 non-null     object
 6   height     17 non-null     float64
 7   weight     17 non-null     float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.2+ KB

In [ ]:
# 남학생들의 신장 평균?
df[df['gender'] == 'M']['height'].mean()

172.41

In [ ]:
# 또는
df[df.gender == 'M'].height.mean()

172.41

In [ ]:
# 여학생들의 신장 평균?
df[df['gender'] == 'F']['height'].mean()

166.64285714285714

In [ ]:
# 남학생들의 체중 평균?
df[df['gender'] == 'M']['weight'].mean()

68.50000000000001

In [ ]:
# 여학생들의 체중 평균?
df[df['gender'] == 'F']['weight'].mean()

50.44285714285714

In [ ]:
# 남학생 중 가장 큰 키?
df[df['gender'] == 'M']['height'].max()

182.1

In [ ]:
# 여학생 중 가장 작은 키?
df[df['gender'] == 'F']['height'].min()

155.2

In [ ]:
# 신장이 175cm 이상인 남학생 중 최저 체중은?
df[(df['gender'] == 'M') & (df['height'] >= 175)]['weight'].min()

61.3

In [ ]:
# 신장이 160cm 이하인 여학생중 최고 체중은?
df[(df['gender'] == 'F') & (df['height'] <= 160)]['weight'].max()

45.3

In [ ]:
df

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16      Andrew Daley      M   21      1       N         A   169.2    62.2

In [ ]:
# 결석(absence)이 있는 (Y) 학생의 성적 평균은?
df [ df['absence'] == 'Y' ]['grade'].mean()

3.0

In [ ]:
# 혈액형이 A형 이거나 AB형인 학생들의 평균키
df [ (df['bloodtype'] == 'A') | (df['bloodtype'] == 'AB') ]['height'].mean()

172.64285714285714

In [ ]:
# 혈액형이 A형 이거나 AB형인 학생들의 평균키
df [ ((df['bloodtype'] == 'A') | (df['bloodtype'] == 'AB')) & (df['gender'] == 'M') ]['height'].mean()

173.375

## 데이터프레임 응용

### 열 재구성(열 순서 변경)

In [ ]:
import seaborn as sns

df = sns.load_dataset('titanic')
df = df.loc[:4, 'survived' : 'age']

columns = list(df.columns.values)

df[ reversed(sorted(columns))]

   survived     sex  pclass   age
0         0    male       3  22.0
1         1  female       1  38.0
2         1  female       3  26.0
3         1  female       1  35.0
4         0    male       3  35.0

In [ ]:
df = pd.read_excel(drive_path + '주가데이터.xlsx')
df.head()

         연월일   당일종가  전일종가     시가     고가     저가     거래량
0 2018-07-02  10100   600  10850  10900  10000  137977
1 2018-06-29  10700   300  10550  10900   9990  170253
2 2018-06-28  10400   500  10900  10950  10150  155769
3 2018-06-27  10900   100  10800  11050  10500  133548
4 2018-06-26  10800   350  10900  11000  10700   63039

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연월일     20 non-null     datetime64[ns]
 1   당일종가    20 non-null     int64
 2   전일종가    20 non-null     int64
 3   시가      20 non-null     int64
 4   고가      20 non-null     int64
 5   저가      20 non-null     int64
 6   거래량     20 non-null     int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 1.2 KB

In [ ]:
df['연월일'] = df['연월일'].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연월일     20 non-null     object
 1   당일종가    20 non-null     int64
 2   전일종가    20 non-null     int64
 3   시가      20 non-null     int64
 4   고가      20 non-null     int64
 5   저가      20 non-null     int64
 6   거래량     20 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.2+ KB

In [ ]:
s= '2018-07-02'
s.split('-')

['2018', '07', '02']

In [ ]:
dates = df['연월일'].str.split('-')
dates.head()

0    [2018, 07, 02]
1    [2018, 06, 29]
2    [2018, 06, 28]
3    [2018, 06, 27]
4    [2018, 06, 26]
Name: 연월일, dtype: object

In [ ]:
dates.str.get(0)

0     2018
1     2018
2     2018
3     2018
4     2018
5     2018
6     2018
7     2018
8     2018
9     2018
10    2018
11    2018
12    2018
13    2018
14    2018
15    2018
16    2018
17    2018
18    2018
19    2018
Name: 연월일, dtype: object

In [ ]:
df['연'] = dates.str.get(0)
df['월'] = dates.str.get(1)
df['일'] = dates.str.get(2)
df.head()

          연월일   당일종가  전일종가     시가     고가     저가     거래량     연   월   일
0  2018-07-02  10100   600  10850  10900  10000  137977  2018  07  02
1  2018-06-29  10700   300  10550  10900   9990  170253  2018  06  29
2  2018-06-28  10400   500  10900  10950  10150  155769  2018  06  28
3  2018-06-27  10900   100  10800  11050  10500  133548  2018  06  27
4  2018-06-26  10800   350  10900  11000  10700   63039  2018  06  26

In [ ]:
df['월'].value_counts()

06    19
07     1
Name: 월, dtype: int64

### 데이터프레임 합치기(병합)

* concat(), merge(), join()

In [ ]:
df1 = pd.DataFrame({'a': ['a0', 'a1', 'a2', 'a3'],
                    'b': ['b0', 'b1', 'b2', 'b3'],
                    'c': ['c0', 'c1', 'c2', 'c3']},
                    index=[0, 1, 2, 3])
 
df2 = pd.DataFrame({'a': ['a2', 'a3', 'a4', 'a5'],
                    'b': ['b2', 'b3', 'b4', 'b5'],
                    'c': ['c2', 'c3', 'c4', 'c5'],
                    'd': ['d2', 'd3', 'd4', 'd5']},
                    index=[2, 3, 4, 5])
print(df1)
print(df2)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

In [ ]:
# 행 방향으로 연결
pd.concat( [df1, df2])

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [ ]:
pd.concat( [df1, df2] , ignore_index=True )

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
4  a2  b2  c2   d2
5  a3  b3  c3   d3
6  a4  b4  c4   d4
7  a5  b5  c5   d5

In [ ]:
# 열 방향으로 연결
pd.concat( [df1,df2], axis=1 )

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

In [ ]:
# 교집합
pd.concat( [df1,df2], axis=1, join ='inner' )

    a   b   c   a   b   c   d
2  a2  b2  c2  a2  b2  c2  d2
3  a3  b3  c3  a3  b3  c3  d3

In [ ]:
pd.concat( [df1, df2] , ignore_index=True , join ='inner' )

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a2  b2  c2
5  a3  b3  c3
6  a4  b4  c4
7  a5  b5  c5

### 데이터프레임 병합

In [ ]:
df1 = pd.read_excel(drive_path + 'stock price.xlsx')
df1

       id stock_name          value   price
0  128940       한미약품   59385.666667  421000
1  130960     CJ E&M   58540.666667   98900
2  138250      엔에스쇼핑   14558.666667   13200
3  139480        이마트  239230.833333  254500
4  142280     녹십자엠에스     468.833333   10200
5  145990        삼양사   82750.000000   82000
6  185750        종근당   40293.666667  100500
7  192400      쿠쿠홀딩스  179204.666667  177500
8  199800         툴젠   -2514.333333  115400
9  204210     모두투어리츠    3093.333333    3475

In [ ]:
df2 = pd.read_excel(drive_path + 'stock valuation.xlsx')
display(df1.head(3))
display(df2.head(3))

       id stock_name         value   price
0  128940       한미약품  59385.666667  421000
1  130960     CJ E&M  58540.666667   98900
2  138250      엔에스쇼핑  14558.666667   13200

       id     name          eps    bps        per       pbr
0  130960   CJ E&M  6301.333333  54068  15.695091  1.829178
1  136480       하림   274.166667   3551  11.489362  0.887074
2  138040  메리츠금융지주  2122.333333  14894   6.313806  0.899691

In [ ]:
pd.merge(df1, df2)

,id,stock_name,value,price,name,eps,bps,per,pbr
0,130960,CJ E&M,58540.666667,98900,CJ E&M,6301.333333,54068,15.695091,1.829178
1,139480,이마트,239230.833333,254500,이마트,18268.166667,295780,13.931338,0.860437
2,145990,삼양사,82750.000000,82000,삼양사,5741.000000,108090,14.283226,0.758627
3,185750,종근당,40293.666667,100500,종근당,3990.333333,40684,25.185866,2.470259
4,204210,모두투어리츠,3093.333333,3475,모두투어리츠,85.166667,5335,40.802348,0.651359

In [117]:
# 교집합
pd.merge(df1,df2)

,id,stock_name,value,price,name,eps,bps,per,pbr
0,130960,CJ E&M,58540.666667,98900,CJ E&M,6301.333333,54068,15.695091,1.829178
1,139480,이마트,239230.833333,254500,이마트,18268.166667,295780,13.931338,0.860437
2,145990,삼양사,82750.000000,82000,삼양사,5741.000000,108090,14.283226,0.758627
3,185750,종근당,40293.666667,100500,종근당,3990.333333,40684,25.185866,2.470259
4,204210,모두투어리츠,3093.333333,3475,모두투어리츠,85.166667,5335,40.802348,0.651359

In [118]:
# 합집합
pd.merge(df1, df2, how='outer', on ='id')

,id,stock_name,value,price,name,eps,bps,per,pbr
0,128940,한미약품,59385.666667,421000.0,NaN,NaN,NaN,NaN,NaN
1,130960,CJ E&M,58540.666667,98900.0,CJ E&M,6301.333333,54068.0,15.695091,1.829178
2,138250,엔에스쇼핑,14558.666667,13200.0,NaN,NaN,NaN,NaN,NaN
3,139480,이마트,239230.833333,254500.0,이마트,18268.166667,295780.0,13.931338,0.860437
4,142280,녹십자엠에스,468.833333,10200.0,NaN,NaN,NaN,NaN,NaN
5,145990,삼양사,82750.000000,82000.0,삼양사,5741.000000,108090.0,14.283226,0.758627
6,185750,종근당,40293.666667,100500.0,종근당,3990.333333,40684.0,25.185866,2.470259
7,192400,쿠쿠홀딩스,179204.666667,177500.0,NaN,NaN,NaN,NaN,NaN
8,199800,툴젠,-2514.333333,115400.0,NaN,NaN,NaN,NaN,NaN
9,204210,모두투어리츠,3093.333333,3475.0,모두투어리츠,85.166667,5335.0,40.802348,0.651359
10,136480,NaN,NaN,NaN,하림,274.166667,3551.0,11.489362,0.887074
11,138040,NaN,NaN,NaN,메리츠금융지주,2122.333333,14894.0,6.313806,0.899691
12,161390,NaN,NaN,NaN,한국타이어,5648.500000,51341.0,7.453306,0.820007
13,181710,NaN,NaN,NaN,NHN엔터테인먼트,2110.166667,78434.0,30.755864,0.827447
14,207940,NaN,NaN,NaN,삼성바이오로직스,4644.166667,60099.0,89.790059,6.938551

In [115]:
# 왼쪽 기준, 키 값 분리
pd.merge(df1, df2, how='left', left_on='stock_name', right_on='name')

,id_x,stock_name,value,price,id_y,name,eps,bps,per,pbr
0,128940,한미약품,59385.666667,421000,NaN,NaN,NaN,NaN,NaN,NaN
1,130960,CJ E&M,58540.666667,98900,130960.0,CJ E&M,6301.333333,54068.0,15.695091,1.829178
2,138250,엔에스쇼핑,14558.666667,13200,NaN,NaN,NaN,NaN,NaN,NaN
3,139480,이마트,239230.833333,254500,139480.0,이마트,18268.166667,295780.0,13.931338,0.860437
4,142280,녹십자엠에스,468.833333,10200,NaN,NaN,NaN,NaN,NaN,NaN
5,145990,삼양사,82750.000000,82000,145990.0,삼양사,5741.000000,108090.0,14.283226,0.758627
6,185750,종근당,40293.666667,100500,185750.0,종근당,3990.333333,40684.0,25.185866,2.470259
7,192400,쿠쿠홀딩스,179204.666667,177500,NaN,NaN,NaN,NaN,NaN,NaN
8,199800,툴젠,-2514.333333,115400,NaN,NaN,NaN,NaN,NaN,NaN
9,204210,모두투어리츠,3093.333333,3475,204210.0,모두투어리츠,85.166667,5335.0,40.802348,0.651359

In [116]:
# 오른쪽 기준, 키 값 분리
pd.merge(df1, df2, how='right', left_on='stock_name', right_on='name')

,id_x,stock_name,value,price,id_y,name,eps,bps,per,pbr
0,130960.0,CJ E&M,58540.666667,98900.0,130960,CJ E&M,6301.333333,54068,15.695091,1.829178
1,NaN,NaN,NaN,NaN,136480,하림,274.166667,3551,11.489362,0.887074
2,NaN,NaN,NaN,NaN,138040,메리츠금융지주,2122.333333,14894,6.313806,0.899691
3,139480.0,이마트,239230.833333,254500.0,139480,이마트,18268.166667,295780,13.931338,0.860437
4,145990.0,삼양사,82750.000000,82000.0,145990,삼양사,5741.000000,108090,14.283226,0.758627
5,NaN,NaN,NaN,NaN,161390,한국타이어,5648.500000,51341,7.453306,0.820007
6,NaN,NaN,NaN,NaN,181710,NHN엔터테인먼트,2110.166667,78434,30.755864,0.827447
7,185750.0,종근당,40293.666667,100500.0,185750,종근당,3990.333333,40684,25.185866,2.470259
8,204210.0,모두투어리츠,3093.333333,3475.0,204210,모두투어리츠,85.166667,5335,40.802348,0.651359
9,NaN,NaN,NaN,NaN,207940,삼성바이오로직스,4644.166667,60099,89.790059,6.938551

### 데이터프레임 merge

In [121]:
df1 = pd.read_excel(drive_path + 'stock price.xlsx', index_col='id')
df2 = pd.read_excel(drive_path + 'stock valuation.xlsx', index_col='id')

In [123]:
# df1(왼쪽) 중심으로 합집합
df1.join(df2)

,stock_name,value,price,name,eps,bps,per,pbr
id,,,,,,,,
128940,한미약품,59385.666667,421000,NaN,NaN,NaN,NaN,NaN
130960,CJ E&M,58540.666667,98900,CJ E&M,6301.333333,54068.0,15.695091,1.829178
138250,엔에스쇼핑,14558.666667,13200,NaN,NaN,NaN,NaN,NaN
139480,이마트,239230.833333,254500,이마트,18268.166667,295780.0,13.931338,0.860437
142280,녹십자엠에스,468.833333,10200,NaN,NaN,NaN,NaN,NaN
145990,삼양사,82750.000000,82000,삼양사,5741.000000,108090.0,14.283226,0.758627
185750,종근당,40293.666667,100500,종근당,3990.333333,40684.0,25.185866,2.470259
192400,쿠쿠홀딩스,179204.666667,177500,NaN,NaN,NaN,NaN,NaN
199800,툴젠,-2514.333333,115400,NaN,NaN,NaN,NaN,NaN
204210,모두투어리츠,3093.333333,3475,모두투어리츠,85.166667,5335.0,40.802348,0.651359

In [122]:
# 교집합
df1.join(df2, how ='inner')

,stock_name,value,price,name,eps,bps,per,pbr
id,,,,,,,,
130960,CJ E&M,58540.666667,98900,CJ E&M,6301.333333,54068,15.695091,1.829178
139480,이마트,239230.833333,254500,이마트,18268.166667,295780,13.931338,0.860437
145990,삼양사,82750.000000,82000,삼양사,5741.000000,108090,14.283226,0.758627
185750,종근당,40293.666667,100500,종근당,3990.333333,40684,25.185866,2.470259
204210,모두투어리츠,3093.333333,3475,모두투어리츠,85.166667,5335,40.802348,0.651359

## 데이터 사전 처리 (전처리)

### 결측치(누락 데이터) 처리

In [124]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [127]:
df['deck'].value_counts().sort_index()

A    15
B    47
C    59
D    33
E    32
F    13
G     4
Name: deck, dtype: int64

In [132]:
df.head().isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [130]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

#### 누락 데이터 제거

In [134]:
# 데이터가 500개 이상 있는 경우를 제외하고 삭제
df.dropna(axis=1,thresh=500)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

누락 데이터 치환

In [140]:
# 평균으로 누락 데이터 치환
df['age'].value_counts(dropna=False)

age_mean = df['age'].mean()
df['age'].fillna(age_mean, inplace=True)
df['age'].value_counts(dropna=False)

29.699118    177
24.000000     30
22.000000     27
18.000000     26
28.000000     25
            ...
36.500000      1
55.500000      1
0.920000       1
23.500000      1
74.000000      1
Name: age, Length: 89, dtype: int64

In [146]:
# 빈도수로 누락 데이터 치환 / 빈도수 많은 걸로 누락 데이터 채우기 -> embark_town
embark_town_idxmax = df['embark_town'].value_counts().idxmax()
df['embark_town'].fillna(embark_town_idxmax, inplace=True)
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      0
alive            0
alone            0
dtype: int64

In [149]:
# 이웃하는 값으로 치환 (embarked)
df['embarked'].fillna(method='ffill', inplace=True)
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      0
alive            0
alone            0
dtype: int64

### 중복 데이터 처리

In [151]:
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                       'c2':[1, 1, 1, 2, 2],
                       'c3':[1, 1, 2, 2, 2]})
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [152]:
 # 중복데이터 확인
 df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [154]:
# 중복 데이터 제거
df.drop_duplicates(inplace=True)
df

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2