<a href="https://colab.research.google.com/github/hwayoung306/AI/blob/main/20220421_py_07_%EC%8B%9C%EA%B3%84%EC%97%B4%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 구글드라이브 연동

In [1]:
# 구글드라이브 연동
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

# 구글 드라이브 파일 확인
!ls '/gdrive/My Drive/temp/'

# 반복되는 드라이브 경로 변수화
drive_path = '/gdrive/My Drive/temp/'

Mounted at /gdrive
 매수종목1.txt			        sample2.pdf
'2. 영화평점, 날짜별 영화평점 시각화'   sample.docx
 매수종목2.txt			        sample_merge.pdf
 auto-mpg.csv			        sample.xlsx
 bmi_500.csv			        score.csv
 매수종목.csv			        seoul.html
 data_studentlist_en.csv	       'stock price.xlsx'
'demo (1).docx'			       'stock valuation.xlsx'
 demo.docx			        test.db.db
 example.docx			        test.txt
 height_weight.txt		        Titanic배포용
 hello_world.xlsx		        titanic_test.csv
 HelloWorld.xlsx		        titanic_train.csv
'little-char (1).png'		        titanic.xls
 little-char.png		        Traffic_Accident_2017.csv
 population_number.csv		        train.csv
 ram_price.csv			        user_id_mean.csv
 ratings_small.txt		        wine.csv
'sample1 (1).pdf'		        주가데이터.xlsx
 sample1.pdf			        남북한발전전력량.xlsx
'sample (1).xlsx'

# 시계열 데이터 분석

- 시간상의 여러 지점을 관측하거나 측정할 수 있는 모든 것

시계열 데이터 유형

- 시간내에서 특정 순간의 타임스탬프
- 2020년 4월이나 2020년 전체 같은 고정된 기간
- 시작과 끝 타임스탬프로 표시되는 시간 간격 (기간은 시간 간격의 특수한 경우)
- 경과시간. 특정 시작 시간에 상대적인 시간의 측정값

pandas 는 표준 시계열 도구와 데이터 알고리즘을 제공

- 금융이나 경제관련 또는 서버 로그 데이터 분석에 유용

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series
from numpy.random import randn

# 사용자 편의를 위해 Magic 키워드 를 지원 %, %%
# 주피터 노트북의 대화형 시각화 기능을 활성화
%matplotlib inline
# 그래프를 더 높은 해상도로 출력
%config InlineBackend.figure_format = 'retina'

## 날짜, 시간 자료형

In [ ]:
from datetime import datetime

now= datetime.now()
now

now.year, now.month, now.day, now.microsecond

(2022, 4, 20, 536025)

In [ ]:
# 두 datetime 객체 간의 시간적인  차이를 표현
# datetime.timedelta
delta = datetime(2022,4,20) - datetime(2018,6,24,9,10)
delta
delta.days, delta.seconds, delta.microseconds

(1395, 53400, 0)

In [ ]:
from datetime import timedelta

start = datetime(2022, 4, 20)
start - timedelta(7)
start + timedelta(7)

start - ( 2 * timedelta(7) )

datetime.datetime(2022, 4, 6, 0, 0)

In [ ]:
# datetime을 문자열로 변환
stamp = datetime(2022, 4, 20)
a = str(stamp)

# ftime은 포매팅을 통해서 바꾸는 것
# 연도는 %Y는 4자리 연도, %y는 2자리 연도, %M은 분, %m은 달, %s는 초
# %h는 시간

stamp.strftime('%y-%m-%d')

'22-04-20'

In [ ]:
# 문자열을 datetime으로 변환
value = '2022-04-20'
datetime.strptime(value, '%Y-%m-%d')

dates = ['7/6/2022','8/6/2022']
for date in dates :
    [datetime.strptime(date, '%m/%d/%Y')]

# for문으로 리스트 만들기
[datetime.strptime(date, '%m/%d/%Y') for x in dates]

[datetime.datetime(2022, 8, 6, 0, 0), datetime.datetime(2022, 8, 6, 0, 0)]

In [ ]:
# pandas와 함께 자동 설치 됨
# 대부분 사람이 인지하는 날짜 형식을 자동 파싱
from dateutil.parser import parse

parse('2022-04-20')
parse('04-20-2022')
parse('04/20/2022')
parse('2022.04.20')
parse('20220420')
parse('2022-04-20 3:04:20')

datetime.datetime(2022, 4, 20, 3, 4, 20)

In [ ]:
dates = ['7/6/2022', '8/6/2022']
pd.to_datetime(dates) # datetimeindex가 2개 만들어진다

# 누락값(결측치) 처리, NaT(not & time) 누락된 타임스탬츠 데이터
dates + [None] # 리스트 더하기 리스트
df = pd.to_datetime( dates + [None]) # NaT 주입 -> 시간인데 빈데이터
df.isnull() # 2개 같은 내용
pd.isnull(df)

array([False, False,  True])

## 시계열 기초

- TimeSerise

In [12]:
from datetime import datetime

dates = [ 
         datetime(2022, 1, 2), datetime(2022, 1, 5),
         datetime(2022, 1, 7), datetime(2022, 1, 8),
         datetime(2022, 1, 10), datetime(2022, 1, 12),
]

# time이 인덱스인 Serise = ts
ts = pd.Series( np.random.randn(6), index=dates)
ts

2022-01-02   -0.820555
2022-01-05    1.313916
2022-01-07    2.089493
2022-01-08   -1.962235
2022-01-10    0.726894
2022-01-12    0.821634
dtype: float64

In [6]:
ts.index.year

Int64Index([2022, 2022, 2022, 2022, 2022, 2022], dtype='int64')

In [8]:
display( ts. index)
ts.index.year

DatetimeIndex(['2022-01-02', '2022-01-05', '2022-01-07', '2022-01-08',
               '2022-01-10', '2022-01-12'],
              dtype='datetime64[ns]', freq=None)

Int64Index([2022, 2022, 2022, 2022, 2022, 2022], dtype='int64')

In [13]:
# 시계열 객체간의 산술 연산
ts[::2]
ts - ts[::2]

2022-01-02    0.0
2022-01-05    NaN
2022-01-07    0.0
2022-01-08    NaN
2022-01-10    0.0
2022-01-12    NaN
dtype: float64

In [14]:
ts.index.dtype

dtype('<M8[ns]')

In [18]:
# DatatimeIndex의 스칼라 값은 판다스의 timestamp 객체
# 스칼라 : 한번에 하나의 값만 보유할 수 있는 원자량 (= 변수)
ts.index[0]

Timestamp('2022-01-02 00:00:00')


- 색인과 선택

In [23]:
# 시계열 라벨에 기반해서 데이터를 선택 index와 값을 가져오는 것
ts.index[2], ts[2]
tindex = ts.index[2]
tindex
ts[tindex]

2.089493021737755

In [25]:
ts

2022-01-02   -0.820555
2022-01-05    1.313916
2022-01-07    2.089493
2022-01-08   -1.962235
2022-01-10    0.726894
2022-01-12    0.821634
dtype: float64

In [27]:
# 날짜 문자열을 이용
ts['2022-01-02']
ts['2022/01/02']
ts['20220102']

-0.8205551792563258

* 데이트다임을 인덱스로 한 시리즈 만들기

In [37]:
# 긴 시계열에서 연 또는 월 구간으로 선택
from os import pread

# 자동으로 날짜데이터 만들기 (시작, periods = 갯수, freq = 단위(월,일,주..) / 없으면 일단위 )
rng = pd.date_range('2022/1/1', periods=1000)
rng
print( len(rng) ) # 갯수

# Serise(데이터, 인덱스)
long_ts = pd.Series(np.random.randn( len(rng) ), index = rng)
long_ts

1000

2022-01-01    0.133014
2022-01-02   -0.829949
2022-01-03   -1.179548
2022-01-04    1.145948
2022-01-05   -0.169419
                ...
2024-09-22    1.154737
2024-09-23    0.157577
2024-09-24    0.296996
2024-09-25    0.055569
2024-09-26    1.218518
Freq: D, Length: 1000, dtype: float64

In [35]:
long_ts['2022']

2022-01-01   -0.720520
2022-01-02   -0.476812
2022-01-03    1.192609
2022-01-04    0.318489
2022-01-05    0.891122
                ...
2022-12-27    0.696306
2022-12-28    0.116757
2022-12-29   -0.258360
2022-12-30   -0.688654
2022-12-31    0.399621
Freq: D, Length: 365, dtype: float64

In [36]:
long_ts['2022-04'].head()

2022-04-01    1.895805
2022-04-02   -0.625007
2022-04-03   -2.253548
2022-04-04    0.620642
2022-04-05    1.479616
Freq: D, dtype: float64

In [43]:
# 슬라이싱 (범위 선택)
long_ts[ '2024-01-01' : ] # 문자열
long_ts[ datetime(2024, 9, 1) : ] # 숫자 -> 프로그래밍 할 때 좋음
long_ts[ '2022.04.1' : '2022.4.15'].count()

15

In [44]:
# 데이터 분리 (날짜 나누기) 이 날짜 뒤의 날은 날리기
long_ts.truncate(after='2024.1.1')

2022-01-01    0.133014
2022-01-02   -0.829949
2022-01-03   -1.179548
2022-01-04    1.145948
2022-01-05   -0.169419
                ...
2023-12-28   -0.076105
2023-12-29   -0.046280
2023-12-30    0.143955
2023-12-31   -0.509784
2024-01-01    1.616787
Freq: D, Length: 731, dtype: float64

* 데이트타임을 인덱스로 한 데이터프레임 만들기

In [48]:
# DataFrame 적용
rng = pd.date_range('2022.1.1', periods=100, freq='w-WED')
rng

long_df = pd.DataFrame(np.random.randn(100, 4),
                       index = rng,
                       columns = ['서울', '광주', '부산', '대구'])
long_df.head()
long_df.loc['2022-5']

                  서울        광주        부산        대구
2022-05-04 -0.251097 -0.091971  1.066981 -1.966896
2022-05-11 -1.162713 -0.239276 -0.504320 -2.020130
2022-05-18  1.537604  1.654641  0.863931  1.599796
2022-05-25 -0.816546  0.122076  0.048014  0.598744

In [60]:
# 시계열 중복 확인
dates = pd.DatetimeIndex( ['2022.1.1', '2022.1.2','2022.1.2',
                           '2022.1.2', '2022.1.3'])
dup_ts = pd.Series( np.arange( 5 ), index=dates )
dup_ts

2022-01-01    0
2022-01-02    1
2022-01-02    2
2022-01-02    3
2022-01-03    4
dtype: int64

In [61]:
# 인덱스 중복 여부 확인
# (true -> 유니크 하다 중복 없다. false -> 중복이다! 중복이 있다!!)
dup_ts.index.is_unique

False

In [53]:
# 중복되지 않을 경우 -> 스칼라 데이터로 가져옴( 값이 1개! )
dup_ts['2022-01-01']

0

In [54]:
# 중복되는 경우 -> 시리즈 형식으로 가져옴
dup_ts['2022-01-02']

2022-01-02    1
2022-01-02    2
2022-01-02    3
dtype: int64

In [64]:
# 중복 색인 해결
g = dup_ts.groupby(level=0)
display( g.mean() ); print() # 그룹화 한 값의 평균
display( g.count() ) # 그룹화한 값의 갯수 count

2022-01-01    0.0
2022-01-02    2.0
2022-01-03    4.0
dtype: float64

2022-01-01    1
2022-01-02    3
2022-01-03    1
dtype: int64

## 날짜 범위와 빈도

In [67]:
# 일별 타임스템프 생성
# 앞에서 부터! 뒤에까지! 둘다 포함함
a = pd.date_range('2022-4-1', '2022-6-1')
# 5개만 보기
a[:5]

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05'],
              dtype='datetime64[ns]', freq='D')

In [68]:
# 기간을 이용한 생성 : 시작일 또는 종료일만 전달
# start를 기준으로 뒤로 생성
pd.date_range(start='2022.4.1', periods=30)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12',
               '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16',
               '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20',
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', freq='D')

In [70]:
# end를 기준으로 앞으로 만듦
pd.date_range(end='2022.4.1', periods=30)

DatetimeIndex(['2022-03-03', '2022-03-04', '2022-03-05', '2022-03-06',
               '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10',
               '2022-03-11', '2022-03-12', '2022-03-13', '2022-03-14',
               '2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18',
               '2022-03-19', '2022-03-20', '2022-03-21', '2022-03-22',
               '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-26',
               '2022-03-27', '2022-03-28', '2022-03-29', '2022-03-30',
               '2022-03-31', '2022-04-01'],
              dtype='datetime64[ns]', freq='D')

In [71]:
# 빈도값을 이용 / BM은 비즈니스별 월별 영업 마감일
pd.date_range('2022.4.1', '2022.6.1', freq ='BM')

DatetimeIndex(['2022-04-29', '2022-05-31'], dtype='datetime64[ns]', freq='BM')

시계열 빈도 오프셋 별칭

https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases

In [75]:
# 시간별 빈도
from pandas.tseries.offsets import Hour, Minute
Hour(), Minute()

four_hour = Hour(4)
pd.date_range('2022-4-1', '2022-4-3 23:59', freq=four_hour)

DatetimeIndex(['2022-04-01 00:00:00', '2022-04-01 04:00:00',
               '2022-04-01 08:00:00', '2022-04-01 12:00:00',
               '2022-04-01 16:00:00', '2022-04-01 20:00:00',
               '2022-04-02 00:00:00', '2022-04-02 04:00:00',
               '2022-04-02 08:00:00', '2022-04-02 12:00:00',
               '2022-04-02 16:00:00', '2022-04-02 20:00:00',
               '2022-04-03 00:00:00', '2022-04-03 04:00:00',
               '2022-04-03 08:00:00', '2022-04-03 12:00:00',
               '2022-04-03 16:00:00', '2022-04-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [82]:
# 단위를 통일해서 계산함
two_hour_thirty_minutes = Hour(2) + Minute(30)
pd.date_range('2022-04-01', periods = 10,freq = two_hour_thirty_minutes )
# 2시간 30분 간격으로 생성

DatetimeIndex(['2022-04-01 00:00:00', '2022-04-01 02:30:00',
               '2022-04-01 05:00:00', '2022-04-01 07:30:00',
               '2022-04-01 10:00:00', '2022-04-01 12:30:00',
               '2022-04-01 15:00:00', '2022-04-01 17:30:00',
               '2022-04-01 20:00:00', '2022-04-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')

In [83]:
# 문자열로 표현하면
pd.date_range('2022-4-1', '2022-4-3 23:59', freq='4h')
pd.date_range('2022-4-1', periods=10, freq='2h30min')

DatetimeIndex(['2022-04-01 00:00:00', '2022-04-01 02:30:00',
               '2022-04-01 05:00:00', '2022-04-01 07:30:00',
               '2022-04-01 10:00:00', '2022-04-01 12:30:00',
               '2022-04-01 15:00:00', '2022-04-01 17:30:00',
               '2022-04-01 20:00:00', '2022-04-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')

In [85]:
# 월별 주차 (매월 3째주 금요일)
pd.date_range('2022.1.1', '2022.5.31', freq ='WOM-3FRI').to_list()

[Timestamp('2022-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-03-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-04-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-05-20 00:00:00', freq='WOM-3FRI')]

In [86]:
# 시작 또는 종료 날짜의 타임 스캠프가 보존됨 (기본)
pd.date_range('2022.4.1 16:11:30', periods=5)

DatetimeIndex(['2022-04-01 16:11:30', '2022-04-02 16:11:30',
               '2022-04-03 16:11:30', '2022-04-04 16:11:30',
               '2022-04-05 16:11:30'],
              dtype='datetime64[ns]', freq='D')

In [87]:
# 타임스탬프 정규화 : 자정에 맞추기
pd.date_range('2022.4.1 16:11:30', periods=5, normalize=True)

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05'],
              dtype='datetime64[ns]', freq='D')

In [88]:
# 시간 데이터 이동
# 시계열의 시작이나 끝에 결측치가 발생함
rng = pd.date_range('2022.1.1', periods=4, freq='M')
ts = pd.Series( np.random.randn( len( rng )), index=rng)
display(ts) ; print()
display( ts.shift(2) ); print()
display( ts.shift(-2) ); print()

2022-01-31    0.059156
2022-02-28    1.146432
2022-03-31   -0.805095
2022-04-30    0.001326
Freq: M, dtype: float64

2022-01-31         NaN
2022-02-28         NaN
2022-03-31    0.059156
2022-04-30    1.146432
Freq: M, dtype: float64

2022-01-31   -0.805095
2022-02-28    0.001326
2022-03-31         NaN
2022-04-30         NaN
Freq: M, dtype: float64

In [93]:
# 빈도를 알고있는 경우 타임스탬프 확장 가능
display( ts.shift(2, freq='M') ) ; print()
display( ts.shift(2, freq='D') ) ; print()
display( ts.shift(3, freq='90T') ) ; print()

2022-03-31    0.059156
2022-04-30    1.146432
2022-05-31   -0.805095
2022-06-30    0.001326
Freq: M, dtype: float64

2022-02-02    0.059156
2022-03-02    1.146432
2022-04-02   -0.805095
2022-05-02    0.001326
dtype: float64

2022-01-31 04:30:00    0.059156
2022-02-28 04:30:00    1.146432
2022-03-31 04:30:00   -0.805095
2022-04-30 04:30:00    0.001326
dtype: float64

In [95]:
# UTC : 국제표준시
rng = pd.date_range('2022.1.1', periods=5)
ts = pd.Series( np.random.randn( len( rng )), index=rng)

display( ts ); print()
display( ts.tz_localize('UTC')) ; print()

2022-01-01   -0.400488
2022-01-02    0.226526
2022-01-03    1.273233
2022-01-04    0.641751
2022-01-05   -0.992585
Freq: D, dtype: float64

2022-01-01 00:00:00+00:00   -0.400488
2022-01-02 00:00:00+00:00    0.226526
2022-01-03 00:00:00+00:00    1.273233
2022-01-04 00:00:00+00:00    0.641751
2022-01-05 00:00:00+00:00   -0.992585
Freq: D, dtype: float64

## 기간 (Period)

In [96]:
# 2020년 1월 1일부터 12월 31일 까지 기간을 표현
p = pd.Period(2020, freq ='A-DEC')
p

Period('2020', 'A-DEC')

In [97]:
# 기간 이동
p+2, p-2

(Period('2022', 'A-DEC'), Period('2018', 'A-DEC'))

In [98]:
pd.Period(2022, freq='A-DEC') - p

In [99]:
# 기간 범위
# PeriodIndex : 순차적인 기간을 저장
rng = pd.period_range('2022.1.1', '2022.6.30', freq = 'M')
rng

PeriodIndex(['2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06'], dtype='period[M]')

In [102]:
ts = pd.Series( np.random.randn( len(rng) ), index = rng)
ts.index # 타입이 PeriodIndex임

PeriodIndex(['2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06'], dtype='period[M]')

In [105]:
# 분기별로 넣는 것

pd.PeriodIndex( ['2022Q3', '2022Q2', '2022Q1'], freq ='Q-DEC')

PeriodIndex(['2022Q3', '2022Q2', '2022Q1'], dtype='period[Q-DEC]')

In [108]:
# Period 빈도 변환
# 연단위 데이터
p = pd.Period('2022', freq = 'A-DEC')
display( p )
# 월단위로 변환
display( p.asfreq('M',how ='end') )
display( p.asfreq('M',how ='start') )

Period('2022', 'A-DEC')

Period('2022-12', 'M')

Period('2022-01', 'M')

In [109]:
# 회계연도 마강이 12월이 아닌 6월인 경우 월간 빈도
p = pd.Period('2022', freq = 'A-JUN')
display( p )
display( p.asfreq('M',how ='end') )
display( p.asfreq('M',how ='start') )

Period('2022', 'A-JUN')

Period('2022-06', 'M')

Period('2021-07', 'M')

In [110]:
# 시리즈에 적용
# 2020-2022, 회계연도 12월 말
rng = pd.period_range('2020', '2022', freq = 'A-DEC')
ts = pd.Series( np.random.randn( len( rng )), index=rng)
ts
display( ts )   ; print()
display( ts.asfreq('M',how ='end') )     ; print()
display( ts.asfreq('M',how ='start') )  ; print()

2020    0.454446
2021    0.064637
2022   -1.203563
Freq: A-DEC, dtype: float64

2020-12    0.454446
2021-12    0.064637
2022-12   -1.203563
Freq: M, dtype: float64

2020-01    0.454446
2021-01    0.064637
2022-01   -1.203563
Freq: M, dtype: float64

In [ ]:
# '90T' == '90min'

분기(Period) 빈도

- 분기 데이터는 재정, 금융 등의 여러 분야에서 표준으로 사용
- 대체로 회계연도 끝인 12월의 마지막 날이나 마지막 업무일을 기준으로 보고
- pandas 분기 빈도는 Q-JUN 에서 Q-DEC 까지 12가지 모든 경우의 수를 지원

In [113]:
# 분기 빈도
p = pd.Period('2022Q4', freq = 'Q-JAN')
display( p )

# 분기 빈도 변환
display( p.asfreq('D', how ='start') )
display( p.asfreq('D', how ='end'))

Period('2022Q4', 'Q-JAN')

Period('2021-11-01', 'D')

Period('2022-01-31', 'D')

In [127]:
# 기간 연산
# 분기 영업마감일의 오후 4시를 가리키는  타임스탬프
p = pd.Period('2022Q4', freq = 'Q-JAN')
display( p )
display( p.asfreq('B', 'e'))
# p.asfreq('B', 'e').asfreq('min', 's') + 16 * 60
p4pm = (p.asfreq('B', 'e')-1).asfreq('h', 's') + 16
p4pm.to_timestamp()

Period('2022Q4', 'Q-JAN')

Period('2022-01-31', 'B')

Timestamp('2022-01-28 16:00:00')

In [135]:
# 분기 범위 연산
rng = pd.period_range('2021Q1', '2022Q2', freq = 'Q-JAN')
ts = pd.Series(np.arange( len(rng)), index = rng)
display(ts) ; print()

new_rng = (rng.asfreq('B', 'e')-1).asfreq('h', 's') + 16
ts.index = new_rng.to_timestamp()
display( ts )

2021Q1    0
2021Q2    1
2021Q3    2
2021Q4    3
2022Q1    4
2022Q2    5
Freq: Q-JAN, dtype: int64

2020-04-29 16:00:00    0
2020-07-30 16:00:00    1
2020-10-29 16:00:00    2
2021-01-28 16:00:00    3
2021-04-29 16:00:00    4
2021-07-29 16:00:00    5
dtype: int64

In [139]:
# 타임 스탬프를 기간으로 변환
rng = pd.date_range('2022-01-01', periods =3, freq = 'M')
ts = pd.Series( np.arange( len(rng) ), index = rng)
display( ts ) ; print()
display(ts.to_period()) # 월단위 기간으로 바뀜

2022-01-31    0
2022-02-28    1
2022-03-31    2
Freq: M, dtype: int64

2022-01    0
2022-02    1
2022-03    2
Freq: M, dtype: int64

In [140]:
# 빈도에 따라 기간은 중복 될 수 있음
ng = pd.date_range('2022-01-01', periods = 6, freq = 'D')
ts = pd.Series( np.arange( len(rng) ), index = rng)
display( ts ) ; print()
display(ts.to_period('M'))

2022-01-01    0
2022-01-02    1
2022-01-03    2
2022-01-04    3
2022-01-05    4
2022-01-06    5
Freq: D, dtype: int64

2022-01    0
2022-01    1
2022-01    2
2022-01    3
2022-01    4
2022-01    5
Freq: M, dtype: int64

In [143]:
# 기간을 타임스탬프로 변환
pts = ts.to_period()
display( pts ); print()
display( pts.to_timestamp(how='end') )

2022-01-01    0
2022-01-02    1
2022-01-03    2
2022-01-04    3
2022-01-05    4
2022-01-06    5
Freq: D, dtype: int64

2022-01-01 23:59:59.999999999    0
2022-01-02 23:59:59.999999999    1
2022-01-03 23:59:59.999999999    2
2022-01-04 23:59:59.999999999    3
2022-01-05 23:59:59.999999999    4
2022-01-06 23:59:59.999999999    5
Freq: D, dtype: int64

## 시계열의 빈도 변환 (리샘플링)

## 이동창 함수 (moving window function)