<a href="https://colab.research.google.com/github/hwayoung306/AI/blob/main/20220414_py_05_Pandas_ipynb_%EA%B3%B5%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 구글드라이브 연동

In [1]:
# 구글드라이브 연동
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

# 구글 드라이브 파일 확인
!ls '/gdrive/My Drive/temp/'

# 반복되는 드라이브 경로 변수화
drive_path = '/gdrive/My Drive/temp/'

Mounted at /gdrive
 매수종목1.txt			        sample1.pdf
'2. 영화평점, 날짜별 영화평점 시각화'  'sample (1).xlsx'
 매수종목2.txt			        sample2.pdf
 auto-mpg.csv			        sample.docx
 bmi_500.csv			        sample_merge.pdf
 매수종목.csv			        sample.xlsx
'demo (1).docx'			        score.csv
 demo.docx			        test.db.db
 example.docx			        test.txt
 height_weight.txt		        Titanic배포용
 hello_world.xlsx		        titanic_test.csv
 HelloWorld.xlsx		        titanic_train.csv
'little-char (1).png'		        titanic.xls
 little-char.png		        Traffic_Accident_2017.csv
 population_number.csv		        train.csv
 ram_price.csv			        user_id_mean.csv
 ratings_small.txt		        wine.csv
'sample1 (1).pdf'		        남북한발전전력량.xlsx

# Pandas
데이터 핸들링
-> 표 데이터

## Pandas 기초
Pandas 모듈
- Series Class : 1차원
 - 인덱스(index) + 값(value)
 - 인덱스도 자료형이다
- DataFrame Class : 2차원
 - 표와 같은 형태
 - 제일 많이 다룸

In [117]:
import pandas as pd

### Series

In [3]:
# 1차원 데이터
# 생성 (세로모양)
# 내용에는 리스트, 딕셔너리, 튜플, set 다 사용 가능
# 단일한 데이터 타입으로 되어있음

s = pd.Series( [4, 7, -5, 3])
s

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
# 처음 만들때 인덱싱을 다른 것으로 넣고 싶을 때
s = pd.Series( [4, 7, -5, 3], index = ['a', 'b', 'c', 'd'])

# 나중에 인덱스만 수정하기 위해서
s.index = ['가','나','다','라']
s

가    4
나    7
다   -5
라    3
dtype: int64

In [5]:
# 값(values), 인덱스(insex), 타입(dtype)
print( s.values )
print( s.index ) # 문자열은 object 형식으로 들어감
print( s.dtype )

[ 4  7 -5  3]
Index(['a', 'b', 'c', 'd'], dtype='object')
int64

#### Pandas 연습 01
각 도시의 2015년 인구 데이터를 시리즈로 만드시오.
```
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
```

In [ ]:
data = pd.Series([9904312,3448797,2890451,2466052], index=['서울','부산','인천','대구'])
data

서울    9904312
부산    3448797
인천    2890451
대구    2466052
dtype: int64

#### Series

In [ ]:
# Serise 이름 지정 (컬럼 명)
data.name = '인구' # 이 시리즈는 인구에 대한거야!
data.index.name = '도시' # 인덱스는 도시에 대한거야!
data

도시
서울    9904312
부산    3448797
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [ ]:
# Serise 연산 브로드케스팅 연산 모두에게 적용됨 (values에 연산이 됨)
data / 1000000

도시
서울    9.904312
부산    3.448797
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

In [ ]:
# 인덱스 똑같이 인덱싱 번호로 사용해도 됨
s1 = pd.Series( [4, 7, -5, 3])
s1[0]

4

In [ ]:
# 딕셔너리처럼 사용이 가능하다
data['서울'], data[0]

(9904312, 9904312)

In [ ]:
data[3], data['대구']

(2466052, 2466052)

In [ ]:
# 팬시인덱스 사용 가능 근데 잘 사용 안함 정확한 인덱싱 하기 위해 '서울','대구','부산' 이렇게 가져옴
# 팬시 인덱싱으로 서울, 대구, 부산만 가져오기!
data[ [0, 3, 1]]

서울    9904312
대구    2466052
부산    3448797
dtype: int64

In [ ]:
# 슬라이싱
# 숫자로하면 시작:끝+1
print(data[1:3])

# 인덱스 이름으로 하면 시작:끝
print(data['부산':'인천'])

부산    3448797
인천    2890451
dtype: int64
부산    3448797
인천    2890451
dtype: int64

In [ ]:
# Boolean 인덱싱
# 인구 250만 이상
print(data >= 2500000)
data[data >= 2500000]

서울     True
부산     True
인천     True
대구    False
dtype: bool

서울    9904312
부산    3448797
인천    2890451
dtype: int64

In [ ]:
# 인구 500만 이하
data[data <= 5000000]

부산    3448797
인천    2890451
대구    2466052
dtype: int64

In [ ]:
# 중복 조건
# 인구 250만 이상 500만 이하 도시
s1 = data[ data >= 2500000 ]
s1[ s1 <= 5000000 ]

# 또는
data[ (data >= 2500000) & (data <= 5000000 ) ]
# 또는
data[ data >= 2500000 ][ data <= 5000000 ]

부산    3448797
인천    2890451
dtype: int64

In [ ]:
# 딕셔너리 객체로 시리즈 생성 (2010년 인구)
data2 = {'서울': 9631482, '부산': 3393191, '인천': 2632035, '대전': 1490158}
s2 = pd.Series(data2)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
# 2015년도와 2010년도의 인구 증가율 계산
ds = data - s2
ds

대구         NaN
대전         NaN
부산     55606.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
3# 결과가 없는 것은 무시 (NaN)
ds[ds.notnull()]

부산     55606.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
# NaN인 내용만 나오게
ds [ ds.isnull() ]

대구   NaN
대전   NaN
dtype: float64

In [ ]:
# 증가율 구하기
rs = (data - s2) / s2 *100
rs[ rs.notnull() ]

부산    1.638752
서울    2.832690
인천    9.818107
dtype: float64

In [ ]:
# Series 데이터 갱신, 추가, 삭제
# 갱신
rs['부산'] = 1.6
rs['대구'] = 1.41

# 삭제
del rs['서울']
rs

### DataFrame

In [118]:
# DataFrame 생성 / 시리즈의 이름은 컬럼명이 된다.
data = {"2015": [9904312, 3448737, 2890451, 2466052],
        "2010": [9631482, 3393191, 2632035, 2431774]}

df = pd.DataFrame(data)
display( df )

      2015     2010
0  9904312  9631482
1  3448737  3393191
2  2890451  2632035
3  2466052  2431774

In [11]:
# DataFrame 인덱스 수정
df.index = ['서울','부산','인천','대구']
df

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

In [14]:
# DataFrame 인덱스 지정하여 생성
data = [[9904312, 3448737, 2890451, 2466052],
        [9631482, 3393191, 2632035, 2431774]]
ind = ['2015', '2010']
col = ['서울','부산','인천','대구']
df2 = pd.DataFrame( data, index=ind, columns=col )
df2

           서울       부산       인천       대구
2015  9904312  3448737  2890451  2466052
2010  9631482  3393191  2632035  2431774

In [15]:
# 테이블 돌리기
df2.T

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

#### Pandas 연습 02
DataFrame을 이용하여 아래와 같은 결과를 구성하시오.

| |홍길동|	김사또|	임꺽정|
|---|---|---|---|
|키|	175.3|	180.2|	178.6|
|몸무게|	66.2|	78.9|	55.1|
|나이|	27.0|	49.0|	35.0|

In [ ]:
data = [[175.3, 180.2, 178.6],[66.2, 78.9, 55.1],[27.0, 49.0, 35.0]]
ind = ['키', '몸무게', '나이']
col = ['홍길동', '김사또', '임꺽정']
df3 = pd.DataFrame( data, index = ind, columns = col )
df3

       홍길동    김사또    임꺽정
키    175.3  180.2  178.6
몸무게   66.2   78.9   55.1
나이    27.0   49.0   35.0

#### DataFrame

In [ ]:
 # 값 확인
 # 인덱스 확인
 # 컬럼 확인

df3.values
df3.index
df3.columns

Index(['홍길동', '김사또', '임꺽정'], dtype='object')

In [ ]:
# DataFrame 열 / 기본은 컬럼값으로 불러오지만!
print( df['2015'])
print( df[['2015', '2010']] ) # 순서유지
print( df[['2010', '2015']])

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64
       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774
       2010     2015
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [ ]:
# "2005" 라는 컬럼명으로 2005년 인구수 대입
data_2005 =  [9762546, 3512547, 2517680, 2456016]
df['2005'] = data_2005
df

       2015     2010     2005
서울  9904312  9631482  9762546
부산  3448737  3393191  3512547
인천  2890451  2632035  2517680
대구  2466052  2431774  2456016

In [ ]:
# 행 인덱스 (행의 인덱스 번호로도 가능하고, index 명으로도 가능하다)
display( df[:1])

print()

display( df['서울':'인천'])

       2015     2010     2005
서울  9904312  9631482  9762546

       2015     2010     2005
서울  9904312  9631482  9762546
부산  3448737  3393191  3512547
인천  2890451  2632035  2517680

In [ ]:
# Boolean 인덱스 (조건 검색)
df[df['2010'] >= 2500000]

df[df['2015'] >= 2500000]['2010']

서울    9631482
부산    3393191
인천    2632035
Name: 2010, dtype: int64

#### loc, iloc 인덱서

In [ ]:
# loc[] - 실제 인덱스를 사용하여 행을 가지고 올 때 사용
# df.loc[행, 열]
df.loc['서울':'부산', '2015':'2010']

       2015     2010
서울  9904312  9631482
부산  3448737  3393191

In [16]:
# iloc[] - numpy의 array인덱싱 방식으로 행을 가지고 올 때 사용
print(df)
print()

print("3번 인덱스인 대구 내용이 출력됨")
df.iloc[3]

       2015     2010
서울  9904312  9631482
부산  3448737  3393191
인천  2890451  2632035
대구  2466052  2431774

3번 인덱스인 대구 내용이 출력됨

2015    2466052
2010    2431774
Name: 대구, dtype: int64

In [ ]:
# iloc[] - numpy의 array인덱싱 방식으로 행을 가지고 올 때 사용
print(df)
print()

print("서울, 부산의 2015, 2010데이터")
df.iloc[:2, :2]

       2015     2010     2005
서울  9904312  9631482  9762546
부산  3448737  3393191  3512547
인천  2890451  2632035  2517680
대구  2466052  2431774  2456016

서울, 부산의 2015, 2010데이터

       2015     2010
서울  9904312  9631482
부산  3448737  3393191

#### csv 파일-1

population_number.csv

In [17]:
df = pd.read_csv(drive_path + 'population_number.csv',index_col= '도시', encoding='euc-kr')
df

     지역     2015       2010       2005     2000
도시
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437
인천  수도권  2890451  2632035.0        NaN  2466338
대구  경상권  2466052  2431774.0  2456016.0  2473990

In [ ]:
# count() : 데이터의 갯수 / 열의 데이터
df.count()

지역      4
2015    4
2010    3
2005    2
2000    4
dtype: int64

In [ ]:
# value_counts 함수
# - 값이 숫자, 문자열, 카테고리 값인 경우에 각각의 값이 나온 횟수를 셀 수 있다.
import numpy as np

# 0~5까지 수가 들어있는 ndarray 만들어서 각 값들이 몇개씩 들어잇는지
s = pd.Series( np.random.randint(6, size = 100))
s.value_counts()

5    22
0    18
2    18
4    16
3    13
1    13
dtype: int64

In [ ]:
# head() tail() 기본적 5개 / ()안에 수를 넣으면 그 수만큼 출력
print(s.head(10))
print(s.tail())

0    3
1    5
2    5
3    3
4    0
5    4
6    3
7    5
8    5
9    2
dtype: int64
95    0
96    3
97    1
98    4
99    0
dtype: int64

In [18]:
# 정렬
# sort_index 함수 : 인덱스 값을 기준으로 정렬한다.
# sort_values 함수 : 데이터 값을 기준으로 정렬한다.

df['2010'].sort_values()

도시
대구    2431774.0
인천    2632035.0
서울    9631482.0
부산          NaN
Name: 2010, dtype: float64

In [22]:
# DataFrame을 2010년 인구수 기준으로 정렬 (높은 것 부터 정렬 / 기본값 ascending=True로 낮은것부터 정렬됨)
df.sort_values(by = '2010', ascending=False)

     지역     2015       2010       2005     2000
도시
서울  수도권  9904312  9631482.0  9762546.0  9853972
인천  수도권  2890451  2632035.0        NaN  2466338
대구  경상권  2466052  2431774.0  2456016.0  2473990
부산  경상권  3448737        NaN        NaN  3655437

In [23]:
# DataFrame을 지역, 2010년 인구수 기준으로 정렬
# 정렬한는 기준을 2개을 넣으면 먼저넣은 것으로 정렬하고, 다음 내용을 정렬한다.
df.sort_values(by = ['도시', '2010'], ascending=False)

     지역     2015       2010       2005     2000
도시
인천  수도권  2890451  2632035.0        NaN  2466338
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437
대구  경상권  2466052  2431774.0  2456016.0  2473990

#### csv 파일-2

score.csv

In [27]:
# 학급별 총계
df2 = pd.read_csv(drive_path + 'score.csv', index_col ='과목', encoding='euc-kr ')
df2

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [29]:
# 학급별 총계
df2.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [31]:
# 학급별 순위
df2.sum().sort_values(ascending = False)

2반    388
3반    295
1반    271
4반    243
dtype: int64

In [32]:
# 과목별 총계 + 순위
df2.sum(axis=1).sort_values(ascending = False)

과목
사회    298
영어    282
국어    253
수학    201
과학    163
dtype: int64

In [46]:
# 과목별 합계를 DataFrame에 추가 (열이 기준일 때 방법)
df2['합계'] = df2.sum(axis=1)
df2

    1반  2반  3반  4반     합계
과목
수학  45  44  73  39  201.0
영어  76  92  45  69  282.0
국어  47  92  45  69  253.0
사회  92  81  85  40  298.0
과학  11  79  47  26  163.0

In [44]:
# 삭제하기 기본 축은 0(행), 1(열)
df2.drop('합계', axis=1) # 원본에는 적용되지 않음, 삭제 X

# 원본에 적용하는 방법 2가지
df2 = df2.drop('합계', axis=1) # 원본에 재 대입
df2.drop('합계', axis=1, inplace =True) # 원본을 바꿔라! 

df2

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [49]:
# 내용 중 작은 값  (행 열)
print(df2.min()) # 행기준 -> 행을 이동하면서 더한다
print() 
print(df2.min(axis=1)) # 열기준 -> 열을 이동하면서 더한다

1반     11.0
2반     44.0
3반     45.0
4반     26.0
합계    163.0
dtype: float64

과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64

In [50]:
# 내용 중 큰 값  (행 열)
print(df2.max()) # 행기준 -> 행을 이동하면서 더한다
print() 
print(df2.max(axis=1)) # 열기준 -> 열을 이동하면서 더한다

1반     92.0
2반     92.0
3반     85.0
4반     69.0
합계    298.0
dtype: float64

과목
수학    201.0
영어    282.0
국어    253.0
사회    298.0
과학    163.0
dtype: float64

In [51]:
# 내용 중 작은 값  (행 열)
print(df2.mean()) # 행기준 -> 행을 이동하면서 더한다
print() 
print(df2.mean(axis=1)) # 열기준 -> 열을 이동하면서 더한다

1반     54.2
2반     77.6
3반     59.0
4반     48.6
합계    239.4
dtype: float64

과목
수학     80.4
영어    112.8
국어    101.2
사회    119.2
과학     65.2
dtype: float64

#### Pandas 연습 03-1

과목별 평균을 계산하여 column 추가하기
```

        1반  2반	3반	4반	합계	평균
과목						
수학	45	44	73	39	201	50.25
영어	76	92	45	69	282	70.50
국어	47	92	45	69	253	63.25
사회	92	81	85	40	298	74.50
과학	11	79	47	26	163	40.75
```

In [74]:
df2 = pd.read_csv(drive_path + 'score.csv', index_col ='과목', encoding='euc-kr ')
df2

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [75]:
# 열에다가 추가하는 방법
df2['합계'] = df2.sum(axis=1)
df2['평균'] = df2.loc[:, :'4반'].mean(axis=1)

df2

    1반  2반  3반  4반   합계     평균
과목
수학  45  44  73  39  201  50.25
영어  76  92  45  69  282  70.50
국어  47  92  45  69  253  63.25
사회  92  81  85  40  298  74.50
과학  11  79  47  26  163  40.75

#### Pandas 연습 03-2

반평균을 계산 하여 row 추가 하기
```
	      1반	2반	 3반 	4반 	합계	평균
과목						
수학	45.0	44.0	73.0	39.0	201.0	50.25
영어	76.0	92.0	45.0	69.0	282.0	70.50
국어	47.0	92.0	45.0	69.0	253.0	63.25
사회	92.0	81.0	85.0	40.0	298.0	74.50
과학	11.0	79.0	47.0	26.0	163.0	40.75
반평균  54.2	77.6	59.0	48.6	239.4	59.85
```

In [76]:
# row에 추가하는 방법
df2.loc['반평균'] = df2.loc[:, :].mean(axis=0)
df2

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6  239.4  59.85

#### Pandas 연습 03-3

반 평균, 합계, 평균을 제외한 데이터 중 과목별 가장 큰 값, 작은 값을 구하시오.

```
과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64
```
```
과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64
```

In [80]:
max_arr = df2.loc[:'과학', :'4반'].max(axis=1)
max_arr

과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64

In [81]:
min_arr = df2.loc[:'과학', :'4반'].min(axis=1)
min_arr

과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64

#### Pandas 연습 03-4

과목별 가장 큰 값과 작은 값의 차를 구하시오.
```
과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64
```

In [82]:
diff_arr = df2.loc[:'과학', :'4반'].max(axis=1) - df2.loc[:'과학', :'4반'].min(axis=1)
diff_arr

과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64

#### apply 변환

행이나 열 단위로 더 복잡한 처리를 하고 싶을 때 사용
```
DataFrame.apply( func, axis = 0)
```

In [85]:
def max_min(x) :
    # print(type(x))
    # print(x)
    return x.max() - x.min()

df2.loc[:'과학', :'4반'].apply(max_min, axis = 1)

1반    45.0
2반    44.0
3반    73.0
4반    39.0
Name: 수학, dtype: float64
1반    76.0
2반    92.0
3반    45.0
4반    69.0
Name: 영어, dtype: float64
1반    47.0
2반    92.0
3반    45.0
4반    69.0
Name: 국어, dtype: float64
1반    92.0
2반    81.0
3반    85.0
4반    40.0
Name: 사회, dtype: float64
1반    11.0
2반    79.0
3반    47.0
4반    26.0
Name: 과학, dtype: float64

과목
수학    None
영어    None
국어    None
사회    None
과학    None
dtype: object

In [87]:
df2.loc[:'과학',:'4반'].apply(lambda x : x.max() - x.min(), axis=1)

과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64

In [84]:
df2

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6  239.4  59.85

In [88]:
# apply 응용
data_dic = {"A":[1,3,3,4,4], "B":[1,2,2,3,3], "C":[1,2,4,4,5]}

df = pd.DataFrame(data_dic)
df

   A  B  C
0  1  1  1
1  3  2  2
2  3  2  4
3  4  3  4
4  4  3  5

In [93]:
# 몇번 쓰였는지 보기
df3 = df.apply( pd.value_counts )

In [94]:
df4 = df3.fillna(value=0)
df4

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

#### 카테고리

In [96]:
# 카테고리는 그룹화를 시키는 것!
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 100]
bins = [0, 15, 25, 35, 60, 99] # 값을 나눌 범주
labels = ["미성년자", "청년", "중년", "장년", "노년"] # 범주의 이름
cuts = pd.cut(x=ages, bins=bins, labels=labels)
cuts

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '노년', '청년', '장년', '중년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [97]:
cuts.categories

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')

In [102]:
age_df = pd.DataFrame(ages, columns=['age'])

# 카테고리 추가
age_df['age_cat'] = cuts
age_df

    age age_cat
0     0     NaN
1     2    미성년자
2    10    미성년자
3    21      청년
4    23      청년
5    37      장년
6    31      중년
7    61      노년
8    20      청년
9    41      장년
10   32      중년
11  100     NaN

In [105]:
# 카테고리별 나이 개수
age_df['age_cat'].value_counts()

청년      3
미성년자    2
중년      2
장년      2
노년      1
Name: age_cat, dtype: int64

#### Pandas 연습 04-1

1. 타이타닉호 승객 데이터(train.csv)를 데이터프레임으로 읽어 온다.

2. 타이타닉호 승객 데이터의 데이터 개수를 각 열마다 구해본다.

```
Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64
```

In [ ]:
df = pd.read_csv(drive_path + 'train.csv', index_col='PassengerId')
df

In [133]:
df.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [ ]:
df.info()

In [126]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

#### Pandas 연습 04-2

1. 타이타닉호 승객 중 성별(Sex) 인원수, 나이별(Age) 인원수, 선실별(Pclass) 인원수, 사망/생존(Survived) 인원수를 구하라.

In [ ]:
print(df['Sex'].value_counts())
print()
print(df.Age.value_counts())
# print(df['Age'].value_counts())
print()
print(df['Pclass'].value_counts())
print()
print(df['Survived'].value_counts())

#### Pandas 연습 04-3

1. 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고 각 그룹에 대해  ‘미성년자‘, ‘청년‘, ‘중년‘, ‘장년‘, ‘노년’ 승객의 비율을 구하라.

(단, 그룹별 비율의 전체 합은 1이 되어야 한다.)
```
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
```

In [ ]:
# 생존자 그룹
data = df[df['Survived'] == 1]
data

In [153]:
# 생존자 그룹 카테고리화
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
ages = data['Age']

train_cats = pd.cut(x=ages, bins=bins, labels=labels)
train_cats.value_counts().sort_index()

미성년자    49
청년      75
중년      83
장년      78
노년       5
Name: Age, dtype: int64

In [155]:
# 비율
train_cats.value_counts()/train_cats.count()

중년      0.286207
장년      0.268966
청년      0.258621
미성년자    0.168966
노년      0.017241
Name: Age, dtype: float64

In [ ]:
# 사망자 그룹
data1 = df[df['Survived'] == 0]
data1

In [157]:
# 사망자 그룹 카테고리화
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
ages = data1['Age']

train_cats1 = pd.cut(x=ages, bins=bins, labels=labels)
train_cats1.value_counts().sort_index()

미성년자     34
청년      143
중년      113
장년      117
노년       17
Name: Age, dtype: int64

In [159]:
# 비율
train_cats1.value_counts()/train_cats1.count()

청년      0.337264
장년      0.275943
중년      0.266509
미성년자    0.080189
노년      0.040094
Name: Age, dtype: float64

In [161]:
train_p_s = df[['Survived', 'Pclass','Sex']]
train_p_s

             Survived  Pclass     Sex
PassengerId
1                   0       3    male
2                   1       1  female
3                   1       3  female
4                   1       1  female
5                   0       3    male
...               ...     ...     ...
887                 0       2    male
888                 1       1  female
889                 0       3  female
890                 1       1    male
891                 0       3    male

[891 rows x 3 columns]

#### groupby

In [164]:
df5 = pd.DataFrame({
    'key1':['A','A', 'B', 'B', 'A'],
    'key2':['one','two','one','two','one'],
    'data1': [1, 2, 3, 4, 5],
    'data2': [10, 20, 30, 40, 50]
})
df5

  key1 key2  data1  data2
0    A  one      1     10
1    A  two      2     20
2    B  one      3     30
3    B  two      4     40
4    A  one      5     50

In [170]:
g = df5[ ['key1', 'data2'] ].groupby('key1')
for k, v in g :
    print(k) # key값
    print(v) # value깂

A
  key1  data2
0    A     10
1    A     20
4    A     50
B
  key1  data2
2    B     30
3    B     40

In [171]:
# 그룹별로 합을 구할 때
g.sum()

      data2
key1
A        80
B        70

In [172]:
df5[ ['key1', 'data2'] ].groupby('key1').sum()

      data2
key1
A        80
B        70

In [177]:
b = df5.groupby(['key1','key2'])
df5.groupby(['key1','key2']).sum()
for k, v in b :
    print(k) # key값
    print(v) # value깂

('A', 'one')
  key1 key2  data1  data2
0    A  one      1     10
4    A  one      5     50
('A', 'two')
  key1 key2  data1  data2
1    A  two      2     20
('B', 'one')
  key1 key2  data1  data2
2    B  one      3     30
('B', 'two')
  key1 key2  data1  data2
3    B  two      4     40

#### Pandas 연습 04-4

1. 선실(Pclass), 성별(Sex)로 생존자 수를 구하라.

In [183]:
from pandas.core.groupby import groupby
train_p_s = df[['Survived', 'Pclass','Sex']]
train_p_s.groupby(['Pclass', 'Sex']).sum()

# 생존자가 1이고 사망자는 0이라서 생존 사망자 구분하지 않고 더하면 생존자 수가 됨

               Survived
Pclass Sex
1      female        91
       male          45
2      female        70
       male          17
3      female        72
       male          47

In [189]:
# html을 가져오는 경우
df = pd.read_html(r'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
len(df)

df = df[0]
df.head(3)

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536

## Pandas 요약

### 데이터프레임(Dataframe)과 시리즈(Series)

In [ ]:
# 시리즈와 데이터프레임 두 가지가 기본이다
# 자동으로 인덱스가 만들어진다

import numpy as np
import pandas as pd

In [ ]:
dic = {'city': ['서울', '부산', '대전', '대구', '광주'],
        'year': [2017, 2017, 2018, 2018, 2018],
        'temp': [18, 20, 19, 21, 20]}

In [ ]:
#'year', 'city', 'temp'

In [ ]:
# index -> 'a','b','c','d','e'

In [ ]:
# columns -> '도시','연도','날씨'

In [ ]:
# index -> '도시'

### 람다 함수

In [ ]:
f = lambda x: x.max() - x.min()

df = pd.DataFrame(np.arange(12).reshape(4, 3), 
                  columns=['A', 'B', 'C'], index=['a', 'b', 'c', 'd'])
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

### Series

In [ ]:
# 파이썬 기본 타입인  딕셔너리로부터 시리즈를 만들 수 있다
dic = {'서울':800, '부산':150, '대구': 100}
dic

{'대구': 100, '부산': 150, '서울': 800}