<a href="https://colab.research.google.com/github/hwayoung306/AI/blob/main/%EA%B3%B5%EB%B6%80_20220407__py_01_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

## 다루는 내용

### 코렙 & 쥬피터 사용법  
https://theorydb.github.io/dev/2019/08/23/dev-ml-colab/

### 파이썬 기초
- 정수(int), 부동소수(float), 문자(strings), 불리언(True/False),  
- 리스트(list), 튜풀(tuple), 사전(dictionary)
- for문, if문
- 함수, 클래스

#### 참고 [점프 투 파이썬](https://wikidocs.net/book/1), [파이썬 한글문서](https://docs.python.org/ko/3/contents.html)

## 프로그래밍 언어(programming Languages)

* 컴퓨터 시스템을 구동 시키는 소프트웨어를 작성하기 위한 형식 언어

* ex) C, C++, C#, Java, Kotlin, Python, R 등


## 컴퓨팅 사고(Computational Thinking)

* 컴퓨터(사람이나 기계)가 효과적으로 수행할 수 있도록 문제를 정의하고 그에 대한 답을 기술하는 것이 포함된 사고

* ex) 스케줄

* 6개의 공이 있다.
1개는 무게가 덜 나간다.
최소 몇 번의 저울질로 가벼운 공을 분류 할 수 있을까?


<center>
 <img src="https://previews.123rf.com/images/yuliaglam/yuliaglam1202/yuliaglam120200153/12358071-%EC%A0%95%EC%9D%98%EC%9D%98-%EC%A0%80%EC%9A%B8%EC%9D%98-%EB%B2%A1%ED%84%B0-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8-%EB%A0%88%EC%9D%B4-%EC%85%98.jpg" alt="저울" width="60%" />

  <img src="https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1609/phonlamaiphoto160901076/63134139-3d-%EB%A0%8C%EB%8D%94%EB%A7%81-%ED%99%94%EC%9D%B4%ED%8A%B8-%EC%A0%88%EC%97%B0%EC%9D%98-%EB%8B%A4%EC%B1%84%EB%A1%9C%EC%9A%B4-%ED%9C%98%ED%8A%B8%EB%8B%88%EC%8A%A4-%EA%B3%B5-6-%EA%B0%9C.jpg" alt="공6개" width="60%" />

</center>


* 다리건너기
 <center>
 <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99E0D8495D8C644A19" alt="저울" width="60%" />

</center>

| 1분 | 2분 | 5분 | 10분 |
|-|-|-|-|

 * 총 4명의 사람이 있습니다. 네 사람들은 다리를 건너는 대 각각 1, 2, 5, 10분이 걸립니다. 손전등을 이용해서 한 번에 2명씩만 이동할 수 있고, 현재 손전등은 하나 입니다.
 최대한 빠르게 다리를 건넌다면 몇 분 안에 건널 수 있을까요?

## 코렙 & 쥬피터 사용

## 파이썬 기초

파이썬 : 
* 1991년에 귀도 반 로섬(Guido van Rossum)이 개발한 
**인터프리터 언어(Interpreter language)**

의도적으로 간결하게 만든 언어

직관적으로 무엇을 뜻하는지 알 수 있는 언어
```
if 4 in [1,2,3,4]: print("4가 있습니다")
```

"만약 4가 1,2,3,4중에 있으면 "4가 있습니다"를 출력한다"

# 자료형종류

In [ ]:
# 숫자형
integer = -1
print(integer)
# interger = "hello"
# 숫자형 타입에서 다른 타입으로 변동 가능 !!

# 문자열
string = '안녕'
print(string)

# 리스트
list = [1,2,3,4]
print(list)

# 튜플 수정X
tuple = (1,2,3)
print(tuple)

# 딕셔너리
dic = {'name' : '홍길동', 'age' : 16}
print(dic)

# 집합 중복 허용X
set({1,2,3,4,1,2,3,4})

# Boolean
b = True
print(True)

-1
안녕
[1, 2, 3, 4]
(1, 2, 3)
{'name': '홍길동', 'age': 16}
True

In [ ]:
a = 1.2
b = 10
c = 'hello'
# 변수의 타입을 알려줌!
type(a)

float

In [ ]:
str1 = "'python's\n 안녕" # 이스케이프 문자
str1
print(str1)

'python's
 안녕

In [ ]:
# 문자열 인덱싱 슬라이싱
print(str1[1])

p

In [ ]:
# a에 들어있는 문자열을 연도, 월, 일 날씨로 구분하여 저장
a = "20220407Rainy"
year = a[:4]
month = a[4:6]
day = a[6:8]
wether = a[8:]
print(year, month, day, wether)

2022 04 07 Rainy

<center> 연산자 종류 </center>

|연산자|설명|
|---|---|
|산술연산자|/  %  //  +  - *|
|지수연산자|**|
|관계(비교)연산자|<  >  <=  >=  ==  !=|
|논리연산자|or  and  not|
|대입(복합)연산자|=  +=  -=  *=  /=  //=  %=|
|삼항연산자|a if condition else b|

#### 연산자 예제 01

다음 코드를 완성하여 다음과 같은 결과를 출력하시오.
```
num1= 7
num2 = 3
?
```
```
더하기 결과: 10
빼기 결과: 4
곱하기 결과: 21
나누기 결과: 2.3333333333333335
```

In [ ]:
num1 = 7
num2 = 3

In [ ]:
print('더하기 결과 : ', num1+num2)
print('빼기 결과 : ', num1-num2)
print('곱하기 결과 : ', num1*num2)
print('나누기 결과 : ', num1/num2)

더하기 결과 :  10
빼기 결과 :  4
곱하기 결과 :  21
나누기 결과 :  2.3333333333333335

#### 연산자 예제 02
변수 num 값 중에서 백의 자리 이하를 버리는 코드이다.
만일 변수 num의 값이 456이라며 400이 되고, 111이라면 100이 된다.
```
num = 456
?
```
```
결과 확인: 400
```

In [ ]:
num = 456
print("결과확인 : ", (num -(num%100)))

결과확인 :  400

#### 연산자 예제 03
초를 입력 받아 [시, 분, 초] 형태로 출력하세요.
```
초 입력: 3723
1 시 2 분 3 초
```

In [ ]:
sec = input("초 입력 : ")
sec = int(sec)
s = sec%60
m = (sec//60) % 60
h = (sec-m) // (60*60)

print("{}시 {}분 {}초".format(h,m,s))

초 입력 : 3723
1시 2분 3초

#### 연산자 예제 04
시급계산기 입니다. 기본시급은 5,000원이고, 
8시간이 넘을 경우 초과된 시간은 시급의 1.5배를 책정해줍니다.
```
노동 시간 입력: 11
총 임금은 62,500 원 입니다.
```

In [ ]:
money = 5000
time = int(input("노동 시간 입력 : "))
total = 0

if time > 8 :
    total = (money * 8) + ((money*1.5)*(time-8))
else :
    total = money*8

print("총 임금은 %d 원 입니다." %(total))

노동 시간 입력 : 11
총 임금은 62500 원 입니다.

### 복합 자료형
|자료형|설명|
|---|---|
|리스트|[ ], [1, 3, 5, 7, 9]|
|튜플|( ), (1, 2, 3)|
|딕셔너리|{'name':‘mihee', 'birth': '1118'} |
|집합|set([1,2,3]) , set("Hello")|

### 리스트
- 여러 항목의 집합체로 각 항목의 타입은 서로 달라도 된다.
- 리스트를 만들려면 대괄호 [ ]를 사용하고 각 항목을 ','로 구분한다

In [ ]:
items = [1,2,3,4,5,'kim']
items

[1, 2, 3, 4, 5, 'kim']

In [ ]:
# 길이 구하기
len(items)

6

In [ ]:
# 리스트 인덱싱
# 숫자인 내용은 잘 사칙현상이 이루어 지지만 글자와 숫자를 더하면 오류가 난다
print(items[2], items[4], items[2]+items[4])

3 5 8

In [ ]:
items[2] = 1000
items

[1, 2, 1000, 4, 5, 'kim']

In [ ]:
# 슬라이싱 [start:end+1]
items[:3]

[1, 2, 1000]

In [ ]:
items[3:]

[4, 5, 'kim']

In [ ]:
items[2:4]

[1000, 4]

In [ ]:
# 리스트 복사
a = [1,2,3,4]
b = a # 같은 곳을 가리킴
print(a,b)

a[0] = 4
print(a,b)

print(a is b) # a랑 b랑 같니? 응! 주소값이 같아!
print(id(a), id(b)) # 위치(값의 위치의 넘버링)값이 같음 

#---------------
b = a[:]
print(a,b)
print(a is b)
print(id(a), id(b))

# copy 모듈 이용
from copy import copy
b = copy(a)
print(a is b)
print(id(a), id(b))

[1, 2, 3, 4] [1, 2, 3, 4]
[4, 2, 3, 4] [4, 2, 3, 4]
True
140312328132960 140312328132960
[4, 2, 3, 4] [4, 2, 3, 4]
False
140312328132960 140312329071504
False
140312328132960 140312328533488

※ 메모리란 컴퓨터가 프로그램에서 사용하는 데이터를 기억하는 공간

In [ ]:
# 리스트 값 추가, 두 줄을 한 줄로 코딩
items.append('park'); items

[1, 2, 1000, 4, 5, 'kim', 'park']

In [ ]:
arr = [1,2,3,4,5]
arr[4] = 7 # 값 바꾸는 것
arr.index(4) # 값의 위치index값을 구하는 법
arr.insert(3, 'my') # (인덱스, 넣을 값) 해당 인덱스에 값을 넣는다
print(arr)

# 마지막 요소를 가져온 뒤 리스트에서 요소 제거
a = arr.pop()
print(arr,a)

b = arr.pop(3) # ()안에 인덱스 번호를 넣으면 해당 인덱스 번호의 값이 제거된다
print(arr,b)

[1, 2, 3, 'my', 4, 7]
[1, 2, 3, 'my', 4] 7
[1, 2, 3, 4] my

In [ ]:
# 리스트 요소 삭제
arr = [1,2,3,4,5]
arr[1:3] = [] # [] 사용해서 리스트 요소 삭제하기
print(arr)

del arr[1] # del 함수 사용해서 리스트 요소 삭제 _ 인덱스 1번째 요소 삭제
print(arr)

arr.remove(5) # 해당 값을 삭제
print(arr)

[1, 4, 5]
[1, 5]
[1]

In [ ]:
# 리스트 더하기
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 정렬
arr = [1,2,3,4,5]
arr.reverse() # arr 자체가 거꾸로 바뀌어짐
print(arr)

a= sorted(arr) # arr 자체가 바뀌지 않고 정렬하여 내용을 넘김
print(a, arr)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5] [5, 4, 3, 2, 1]

In [ ]:
# 범위 함수 5를 넣으면 0~5까지
arr = range(5)
type(arr)
print(arr)

range(0, 5)

In [ ]:
# 리스트 표기법
# 0~4까지의 리스트를 만듦
arr  = [x for x in range(5)]
print(arr)
# 10의 배수의 리스틀를 만듦
arr  = [x*10 for x in range(5)]
print(arr)

[0, 1, 2, 3, 4]
[0, 10, 20, 30, 40]

#### 리스트 예제 01
```
array = [1, 2, 3, 4, 5]
```
리스트 array에 숫자 5를 7으로 바꾸시오.

리스트 array에 숫자 2를  리스트[‘a’,’b’,’c’]로 바꾸시오.

리스트 array에 4,7를  ‘d’, ‘e’, ‘f’, ‘g’로 바꾸시오.
```
[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']
```

In [ ]:
array = [1, 2, 3, 4, 5]
array[-1] = 7
print(array)
array[1] = ['a','b','c']
print(array)
array.pop()
array.pop()
array += ['d','e','f','g']
print(array)

[1, 2, 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 4, 7]
[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

### 튜플 (tuple)
- 튜플은 리스트처럼 여러 항목의 집합을 담을 수 있는데 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 튜플을 만들려면 소괄호( )를 사용하여 만들거나 , 로 구분하여 나열한다.

In [ ]:
# 튜플명 = (요소1, 요소2, 요소3...)
# 리스트와 비슷하지만 값을 바꿀 수 없다! 근데 요소가 리스트면 리스트는 변경 가능하다
a =() # 빈 리스트
b = (1,2,3)
c = (1,)

In [ ]:
# 괄호가 없어도 됨
t1 = 1, 2, 4
t2 = (3,4,5)
t3 = t1+t2

print(t3)
t1, t2, t3 # 이것도 괄호 없이 리스트가 됨

(1, 2, 4, 3, 4, 5)

((1, 2, 4), (3, 4, 5), (1, 2, 4, 3, 4, 5))

In [ ]:
# 튜플에서 값 분리
t = 1, 2, 3
a, b, c = t
print(a,b,c)

# 불필요한 변수: 필요 없는 값을 무시 (*rest)
a, *_ = t
print(a)

# 두 변수의 값 교체
a,b = 1,2
a,b = b,a
print(a, b)

1 2 3
1
2 1

In [ ]:
# in, not in
if ('x' in 'xyz') :
    print("hello")

'x' in ('x', 'y', 'z')

hello

True

In [ ]:
'a' not in ['x', 'y', 'z']

True

### 딕셔너리 (Dictionaries)
- 딕셔너리로 키-값 조합 형태의 리스트를 만들 수 있다. 
- 딕셔너리에서는 항목을 찾을 때 키를 사용한다
- 딕셔너너리에서 저장된 순서는 중요시하지 않는다.
- 딕셔너리는 중괄호 {  } 로 만든다.

In [ ]:
dict1 = {'name' : 'kim', 'age' : 21, 'grade':3, 0 : 4}
print(dict1['age'])
print(dict1.keys())
print(dict1.values())
print(dict1.items())
dict1['name'] = 'lee'
dict1

21
dict_keys(['name', 'age', 'grade', 0])
dict_values(['kim', 21, 3, 4])
dict_items([('name', 'kim'), ('age', 21), ('grade', 3), (0, 4)])

{0: 4, 'age': 21, 'grade': 3, 'name': 'lee'}

In [ ]:
dict1[0], type(dict1)

(4, dict)

In [ ]:
# items 함수를 통해 key 값을 가져오는건데 여기서 k,v는 변수
for k,v in dict1.items() :
    print(k,v)

name lee
age 21
grade 3
0 4

#### 카운트

dict는 딕셔너리이므로 키와 값 쌍으로 입력됩니다.

해당하는 키가 없을 경우에는 에러가 발생하므로 처음 추가되는 키에는 '+=' 을 사용할 수 없습니다.

때문에 if 문으로 키값 여부를 체크하고 있습니다.
키가 없을 경우에는 대입연산자'='를 사용하여 키를 추가하고 있습니다.

In [ ]:
dic = {}
# 값 추가
dic['1'] = 1
print(dic)

# 값 변경
dic['1'] = 2;
print(dic)

# +=, -=, %=... 을 통해 값 변경. 이것은 값이 존재하는 곳에 사용해야함
dic['1'] += 1;
print(dic)

# 오류
# dic['2'] += 2

{'1': 1}
{'1': 2}
{'1': 3}

### 집합(set)
- 중복을 허용하지 않는다.
- 순서가 없다(Unordered). 순서가 없는 자료형이라 인덱싱을 지원하지 않는다.

※ 중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용하기도 한다.

In [ ]:
t = (1,2,3,3)
s1 = set(t)
s1

{1, 2, 3}

In [ ]:
# 교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6])

print(s1&s2) # 교집합
print(s1|s2) # 합집합
print(s1-s2) # 차집합 s1에서 교집합 빼기!
print(s2-s1) # 차집합 -> 빈 집합이 나옴

{4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}
set()

In [ ]:
# 추가, 갱신, 삭제
s1 = set([1,2,3])
s1.add(4);
print(s1)

s1.update([4,5,6,7,800])
print(s2)

s1.remove(2)
print(s1)

{1, 2, 3, 4}
{4, 5, 6}
{800, 1, 3, 4, 5, 6, 7}

In [ ]:
# 집합을 리스트로 변경하기
list(s1)

[800, 1, 3, 4, 5, 6, 7]

### if 조건문

In [ ]:
x= 7
if x > 10 :
    print("10보다 큽니다.")
elif x > 5 :
    print("5보다 큽습니다.")
else :
    print("5보다 작습니다.")

5보다 큽습니다.

#### 조건문 예제 01
변수 num를 선언하고 키보드로 값을 입력받으세요.
만약 num이 3의 배수이면서 5의 배수라면 “3과 5의 배수입니다”라고 출력하는 프로그램을 만들어보세요.

In [ ]:
num = int(input("값을 입력해주세요 : "))

if (num %3 == 0) & (num % 5 == 0) :
    print("3과 5의 배수입니다.")

값을 입력해주세요 : 15
3과 5의 배수입닌다.

#### 조건문 예제 02
정수를 입력 받아  양수, 음수, 0을 판별하여 다음과 같이 출력하시오.
```
정수입력: 5
5 양수입니다.

정수입력: -7
-7 음수입니다.

정수입력: 0
0입니다.
```

In [ ]:
d = int(input("정수입력 : "))
if d > 0 :
    print("{} 양수입니다.".format(d))
elif d < 0 :
    print("{} 음수입니다.".format(d))
else :
    print("0입니다.")

정수입력 : 0
0입니다.

### while 반복문

- 동작을 반복할 때 while 루프를 사용한다
- while 문장의 끝에는 ':'가 있어야 하며 while 문이 적용되는 블록(block)은 반드시 들여쓰기 (indentation)을 해야 한다.

while문의 기본 구조
```
while <조건문>:
    <수행할 문장1>
    <수행할 문장2>
    <수행할 문장3>
    ...
```

In [ ]:
i = 0
while i < 10 :
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

### for 반복문

- 동작을 반복할 때 for 루프를 사용한다
- for 문장의 끝에는 ':'가 있어야 하며 for 문이 적용되는 블록(block)은 반드시 들여쓰기 (indentation)을 해야 한다. 

for문의 기본 구조
```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
```
```
for 변수 in range(시작값, 종료값, 증가):
    수행할 문장1
    수행할 문장2
    ...
```

In [ ]:
list( range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list( range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(0,11,2)) # 종료값보다 작을 때까지

[0, 2, 4, 6, 8, 10]

In [ ]:
10 in range(0,10) # 종료값은 포함하지 않는다

False

In [ ]:
arr = ['one', 'two', 'three']
for a in arr : # arr안에 있는 요소들을 출력
    print(a)

one
two
three

In [ ]:
for a in ('one', 'two','three') :
    print(a)

one
two
three

In [ ]:
arr = [[1,2],
       [3,4],
       [5,6]]
for a in arr :
    print(a)
    for b in a :
        print(b)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

In [ ]:
# 2차원 배열 출력 가능함
for [a,b] in arr:
    print(a,b)

1 2
3 4
5 6

In [ ]:
# 1부터 10까지 반복!
for i in range(0,10+1) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10

#### 반복문 예제 01
array에 들어있는 데이터를 다음과 같이 하나씩 출력하시오.
```
array = [ [1, 2], [3, 4], [5, 6] ]
```
```
1
2
3
4
5
6
```

In [ ]:
array = [ [1, 2], [3, 4], [5, 6] ]
for a,b in array :
    print(a)
    print(b)

1
2
3
4
5
6

#### 반복문 예제 02
0부터 10까지 다음과 같이 출력하시오.
```
0 1 2 3 4 5 6 7 8 9 10
```

In [ ]:
for a in range(0,11) :
    print(a, end = ' ')

0 1 2 3 4 5 6 7 8 9 10

#### 반복문 예제 03

* for문을 사용하여 96에서 53까지 출력하시오.
* for문을 사용하여 21에서 57까지의 수 중 홀수만 출력하시오.
* 정수를 입력 받아 1부터 입력 받은 정수까지 차례대로 출력하는 프로그램을 
작성하시오.
```
정수입력: 10
1 2 3 4 5 6 7 8 9 10
```
* 한 개의 자연수를 입력 받아 그 수의 배수를 차례로 10개 출력하는 프로그램을 작성하시오.
```
정수입력: 5
5 10 15 20 25 30 35 40 45 50
```
* 1~100까지 3의 배수의 합을 출력하세요. (1683)

#### 반복문 예제 04
다음과 같이 별 모양을 출력하시오.

```
*
**
***
****
*****
```

In [ ]:
for i in range(5):
    print("*" * (i+1))

*
**
***
****
*****

### 함수
입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것
> 입력값 ---> 함수 ----> 결과값

* 똑같은 내용을 반복해서 작성하고 있는 자신을 발견할 때, 
* "반복적으로 사용되는 가치 있는 부분"을 한 뭉치로 묶어서 
* "어떤 입력값을 주었을 때 어떤 결괏값을 돌려준다"라는 식의 함수로 작성하는 것

파이썬 함수의 구조
```
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
```
```
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
    return 결과값
```
```
def 함수명():
    <수행할 문장1>
    <수행할 문장2>
    ...
    return 결과값
```
```
def 함수명():
    <수행할 문장1>
    <수행할 문장2>
    ...
```

In [ ]:
def add(x,y) :
    sum = x+y
    return sum

add(1,2)

3

매개변수와 인수

매개변수(parameter)와 인수(arguments)는 혼용해서 사용되는 헷갈리는 용어이므로 잘 기억해 두자. 매개변수는 함수에 입력으로 전달된 값을 받는 변수를 의미하고 인수는 함수를 호출할 때 전달하는 입력값을 의미한다.

In [ ]:
# 매개변수 저장하여 호출
add(y = 1, x =2)

3

In [ ]:
# 목록을 넣기 위해서는 *을 사용한다.

def add_many(*a) :
    print(type(a))
    sum = 0
    for i in a :
        sum += i
    return sum

e = add_many(1,2,3,4,5,6,7,8,9,10)
print(e)

<class 'tuple'>
55

In [ ]:
# 딕셔너리를 넣으려면 ** 2개 사용하면 가능
def print_kwarges(**args) :
    print(args)

print_kwarges(a=1)

{'a': 1}

In [ ]:
# 함수의 결과값은 언제나 하나
def add_and_mul(a,b) : 
    return a+b, a*b

# 튜블로 결과 값 반환됨
add_and_mul(3,4)

a,b = add_and_mul(3,4)
a,b

(7, 12)

In [ ]:
# 변수의 효력 범위 (스코프)
a = 1

def vartest(a) :
    a = a+1
    return a


c = vartest(a)
print(c)
print(a)

2
1

In [ ]:
# lambda 매개변수1, 매개변수2, ...... : 매개변수를 이용한 표현식
add = lambda a, b : a+b

add(1,2)

3

#### lambda
보통 함수를 한줄로 간결하게 만들 때 사용한다. 

우리말로는 "람다"라고 읽고 def를 사용해야 할 정도로 복잡하지 않거나 def를 사용할 수 없는 곳에 주로 사용한다.

※ lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

#### 함수 예제 01
두 개의 정수를 입력 인수로 받아 더 큰 수를 반환하는 함수 LargerNumber를 만들어 다음과 같은 결과를 출력하시오.
```
num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = LagerNumber(num1, num2)
print("큰 수 확인:", result)
```
```
첫 번째 정수 입력: 8
두 번째 정수 입력: 6
큰 수 확인: 8

첫 번째 정수 입력: 4
두 번째 정수 입력: 8
큰 수 확인: 8

첫 번째 정수 입력: 5
두 번째 정수 입력: 5
큰 수 확인: 0
```

In [ ]:
def large_number(num1, num2) :
    if num1 > num2 :
        return num1
    elif num1 < num2 :
        return num2

num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = large_number(num1, num2)
print("큰 수 확인:", result)

첫 번째 정수 입력: 4
두 번째 정수 입력: 8
큰 수 확인: 8

#### 함수 예제 02
2개의 정수를 받아 2개의 숫자 중 10에 더 가까운 수를 
반환하는 함수 close10을 만들어 다음과 같은 결과를 출력하시오.
(만약 두 숫자 모두 10과의 차이가 같다면 첫 번째 수를 반환)
```
num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = close10(num1, num2)
print("10에 가까운 수:", result)
```
```
첫 번째 정수 입력: 2
두 번째 정수 입력: 7
10에 가까운 수: 7

첫 번째 정수 입력: 8
두 번째 정수 입력: 5
10에 가까운 수: 8

첫 번째 정수 입력: 2
두 번째 정수 입력: 13
10에 가까운 수: 13
```

#### 함수 예제 03 - 1
num2가 num1의 약수인지 확인하여 True또는 False를 반환하는 isDivisor()메소드를 구현하시오. -> 함수 안에서 함수 사용 가능
```
num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = isDivisor(num1, num2)
print(result)
```
```
첫 번째 정수 입력: 5
두 번째 정수 입력: 10
True

첫 번째 정수 입력: 3
두 번째 정수 입력: 10
False

첫 번째 정수 입력: 0
두 번째 정수 입력: 10
False
```

In [ ]:
def isDivisor(num1, num2) :
    if num1 % num2  == 0:
        return True
    else : 
        return False


num1 = int(input("첫 번째 정수 입력: "))
num2 = int(input("두 번째 정수 입력: "))
result = isDivisor(num1, num2)
print(result)

첫 번째 정수 입력: 5
두 번째 정수 입력: 10
False

#### 함수 예제 03 - 2
약수들을 구하는 getDivisor() 함수를 구현하시오.
```
getDivisor(10)
getDivisor(16)
getDivisor(24)
```
```
10의 약수: 1 2 5 10
16의 약수: 1 2 4 8 16
24의 약수: 1 2 3 4 6 8 12 24
```

In [ ]:
def getDivisor(a) :
    print("{}의 약수 : ".format(a), end = ' ')
    for i in range(1,a+1) :
        if isDivisor(a, i):
            print(i, end =' ')
    print()   

getDivisor(10)
getDivisor(16)
getDivisor(24)

10의 약수 :  1 2 5 10
16의 약수 :  1 2 4 8 16
24의 약수 :  1 2 3 4 6 8 12 24

In [ ]:
def getDivisor(a) :
    result = []
    for i in range(1,a) :
        if isDivisor(a,i) :
            result.append(i)

    result.append(a)
    return result

def printDivisor(a) :
    print("%d의 약수 : "%a, end = ' ')
    print(getDivisor(a));

printDivisor(10)
printDivisor(12)

10의 약수 :  [1, 2, 5, 10]
12의 약수 :  [1, 2, 3, 4, 6, 12]

#### 함수 예제 03 - 3
start 부터 end 까지의 약수를 구하는 getDivisorRange() 함수를 구현하시오.
```
getDivisorRange(10, 16)
```
```
10의 약수: 1 2 5 10
11의 약수: 1 11
12의 약수: 1 2 3 4 6 12
13의 약수: 1 13
14의 약수: 1 2 7 14
15의 약수: 1 3 5 15
16의 약수: 1 2 4 8 16
```

### 클래스
클래스, 객체, 인스턴스

* 클래스(class)란 똑같은 무엇인가를 계속해서 만들어 낼 수 있는 설계 도면(과자 틀)
* 객체(object)란 클래스로 만든 피조물(과자 틀을 사용해 만든 과자)
* 클래스로 만든 객체를 인스턴스라고도 한다. 

객체와 인스턴스의 차이는
> 인스턴스라는 말은 특정 객체(a)가 어떤 클래스(Cookie)의 객체인지를 관계 위주로 설명할 때 사용한다. "a는 인스턴스"보다는 "a는 객체"라는 표현이 어울리며 "a는 Cookie의 객체"보다는 "a는 Cookie의 인스턴스"라는 표현이 훨씬 잘 어울린다. (점프 투 파이썬)


파이썬 클래스의 구조
```
class 클래스명:
    def __init__(self, param):
        .......
```
```
class 클래스명:
    def __new__(cls):
        .......
    def __init__(self, param):
        .......
    def 메소드명(self, param):
        .......
```

* 클래스는 복잡한 문제를 다루기 쉽도록 만듭니다.
* 클래스는 객체의 구조와 행동을 정의합니다.
* 객체의 클래스는 초기화를 통해 제어합니다.

In [ ]:
class Flight :
    pass

In [ ]:
class Flight :
    def __init__(self) : # 데이터 정의 하는 것
        print('init') # 만들자 마자 실행 된다
        self._name = "비행기"
        self._hp = 100

    def getName(self) : # class 안의 def ()안에 self를 넣어줘야 된다.
        return self._name

f = Flight()
f._name, f.getName(), type(f)

init

('비행기', '비행기', __main__.Flight)

생성자로 객체생성을 호출받으면 먼저 __new__ 를 호출하여 객체를 생성할당하고, __new__ 메소드가 __init__메소드를 호출하여 객체에서 사용할 초기값들을 초기화하게됩니다.

주의! 파이썬은 메소드 오버로딩이 없다.

> 메소드 오버로딩이란? : 하나의 클래스 내부에서 메소드 명칭은 똑같고, 인자를 다르게하는 형태를 허용하는 것

### 파이썬 머신러닝을 위한 모듈(라이브러리)

* 머신러닝 라이브러리
 * 사이킷런(Scikit-Learn)
* 행렬/선형대수/통계 라이브러리
  * 넘파이(NumPy): 고성능 과학계산을 위한 데이터 분석(행렬, 선형대수)
  * 사이파이(SciPy): 자연과학, 통계
* 데이터 핸들링
 * 판다스(Pandas): 행과 열로 구성된 표 형식의 데이터(2차원 데이터 처리)
* 시각화
 * 맷플롯립(Matplotlib): 2D 그래프로 시각화
 * 시본(Seaborn): 다양한 색상 테마로 시각화